<section class="incubation_space text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="challengesDiv">
                    <img src="assets/images/user/incubationspace/vishakapatnam.png" alt="image" class="img-fluid">
                    <div class="title">
                        <h5>Vishakhapatnam</h5>
                    </div>
                    <div class="action_buttons">
                        <a href="" class="btn submitDetails" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Submit Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="challengesDiv">
                    <img src="assets/images/user/incubationspace/tirupathi.png" alt="image" class="img-fluid">
                    <div class="title">
                        <h5>Tirupati</h5>
                    </div>
                    <div class="action_buttons">
                        <a href="" class="btn submitDetails" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Submit Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="challengesDiv">
                    <img src="assets/images/user/incubationspace/kakinada.png" alt="image" class="img-fluid">
                    <div class="title">
                        <h5>Kakinada</h5>
                    </div>
                    <div class="action_buttons">
                        <a href="" class="btn submitDetails" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Submit Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="challengesDiv">
                    <img src="assets/images/user/incubationspace/tadepalli.png" alt="image" class="img-fluid">
                    <div class="title">
                        <h5>Tadepalli | Vijayawada</h5>
                    </div>
                    <div class="action_buttons">
                        <a href="" class="btn submitDetails" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Submit Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Modal starts -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Apply for Incubation | Co-working Space</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Number of Seat required<span class="mandatory">*</span></label>
                                    <select name="" id="" class="form-control">
                                        <option value="">--Select--</option>
                                        <option value="0-5">0-5</option>
                                        <option value="5-10">5-10</option>
                                        <option value="Above 10">Above 10</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Submit the Pitch Deck<span class="mandatory">*</span></label>
                                    <input type="file"  accept=".jpg, .jpeg, .png, .pdf" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-md-12">
                                <!-- <div class="modal-footer"> -->
                                    <div class="float-end">
                                        <button class="btn btn-success" type="submit">Submit</button>
                                        <button class="btn btn-danger ms-3" type="button" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div> -->
        </div>
    </div>
</div>

<!-- Modal ends -->