

.offer_box {
    background: #fff;
    text-align: center;
    padding: 30px 10px;
    height: 170px;
    transition: 0.4s ease-out;
}
@media screen and (max-width: 500px) {
    .offer_box {
        margin-bottom: 30px;
    }
}

.offer_box h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #193567;
    margin-bottom: 0;
    margin-top: 10px;
}
.offer_box:hover {
    background-image: radial-gradient(100% 126.51% at 0% 6.21%, #009980 4.69%, rgba(21, 83, 132, 0.91) 100%);
    /* background: linear-gradient(180deg, #059CC6 0%, #1572C7 100%); */
    box-shadow: 3px 6px 32px 3px #012360;
    border-radius: 5px;
    transform: translateY(-20px);
    /* margin-top: -20px; */
    transition: 0.4s ease-in;
}
.offer_box:hover {
    /* background-image: url('/assets/images/reasons/new/reasonscircle.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
    color: #0894C6;
    width: 50px;
    height: 50px; */
}
.offer_box:hover h5 {
    color: #fff;
}

/* .section_title h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
} */
.innerpage_heading h2 {
    color: #fff;
}
.innerpage_heading h2::before {
    content: "";
    width: 50px;
    height: 2px;
    display: inline-block;
    background: #DE354C;
    margin: 4px;
    top: -6px;
    position: relative;
}