<style>
    .bodyBreadcrumbs {
        background-image: url('assets/images/gallery/contactusbg.png');
    }
</style>
<section class="bodyBreadcrumbs">

    <div class="container">

        <div class="row breadcrumbsrow align-items-center">
            <div class="col-md-12">
                <div class="bodyHeading text-white">
                    <h1>Terms and Conditions
                    </h1>
                    <ol class="breadcrumb mb-0">
                        <li><a routerLink="/home">Home</a></li>
                        <li><a>Terms and Conditions</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_content">
                    <div class="innerpage_heading">
                        <ul>
                            <li [className]="isTranslationTelugu ? 'aboutupara' : ''">
                                <!-- Startup Andhra Pradesh State portal has been created to provide information to the Startups,
                                Incubators, Mentors, Investors and general public. The documents and information displayed
                                in this portal are for reference purposes only and does not purport to be a legal document. -->
                                {{ 'Termsandconditions.paracontent1' | translate }} 

                            </li>
                            <li [className]="isTranslationTelugu ? 'aboutupara' : ''">
                                <!-- Andhra Pradesh Innovation Society (APIS) through its Startup Andhra Pradesh Portal or
                                Government of Andhra Pradesh accepts no responsibility with regard to the accuracy or
                                completeness of the information, text, graphics, links or other items contained within the
                                Startup Andhra Pradesh Portal. -->
                                {{ 'Termsandconditions.paracontent2' | translate }} 

                            </li>
                            <li [className]="isTranslationTelugu ? 'aboutupara' : ''">
                                <!-- As a result of updates and corrections, the web contents are subject to change regularly. In
                                no event, APIS or Government of Andhra Pradesh will be liable for any loss, damage,
                                liability or expenses incurred or suffered that is claimed to have resulted from use of this
                                portal, including, without limitation, any fault, virus, error, omission, interruption or
                                delay, with respect thereto, direct or indirect. -->
                                {{ 'Termsandconditions.paracontent3' | translate }} 

                            </li>
                            <li [className]="isTranslationTelugu ? 'aboutupara' : ''">
                                <!-- The information posted on this portal could include hypertext links or pointers to
                                information created and maintained by Non-Profit/ Non-Government/ Educational Institutions/
                                Private Parties. Startup Andhra Pradesh shall be providing these links and pointers solely
                                for user information and convenience. When the intended users select a link to an outside
                                website, they are leaving the Startup Andhra Pradesh Portal and are subject to the privacy
                                and security policies of the owners/sponsors of the outside website/ portal. Startup Andhra
                                Pradesh or APIS does not guarantee the availability of such linked pages at all times nor
                                does necessarily endorse the views expressed therein. -->
                                {{ 'Termsandconditions.paracontent4' | translate }} 

                            </li>
                            <li [className]="isTranslationTelugu ? 'aboutupara' : ''">
                                <!-- These terms and conditions shall be governed by and construed in accordance with the Indian
                                Laws. Any dispute arising under these terms and conditions shall be subject to the
                                jurisdiction of the High Court of Andhra Pradesh. -->
                                {{ 'Termsandconditions.paracontent5' | translate }} 

                            </li>
                        </ul>
                        <!-- <p>
                            Startup Andhra Pradesh State portal has been created to provide information to the Startups,
                            Incubators, Mentors, Investors and general public. The documents and information displayed
                            in this portal are for reference purposes only and does not purport to be a legal document.
                        </p> -->
                        <!-- <p>
                            Andhra Pradesh Innovation Society (APIS) through its Startup Andhra Pradesh Portal or
                            Government of Andhra Pradesh accepts no responsibility with regard to the accuracy or
                            completeness of the information, text, graphics, links or other items contained within the
                            Startup Andhra Pradesh Portal.
                        </p> -->
                        <!-- <p>
                            As a result of updates and corrections, the web contents are subject to change regularly. In
                            no event, APIS or Government of Andhra Pradesh will be liable for any loss, damage,
                            liability or expenses incurred or suffered that is claimed to have resulted from use of this
                            portal, including, without limitation, any fault, virus, error, omission, interruption or
                            delay, with respect thereto, direct or indirect.
                        </p> -->
                        <!-- <p>
                            The information posted on this portal could include hypertext links or pointers to
                            information created and maintained by Non-Profit/ Non-Government/ Educational Institutions/
                            Private Parties. Startup Andhra Pradesh shall be providing these links and pointers solely
                            for user information and convenience. When the intended users select a link to an outside
                            website, they are leaving the Startup Andhra Pradesh Portal and are subject to the privacy
                            and security policies of the owners/sponsors of the outside website/ portal. Startup Andhra
                            Pradesh or APIS does not guarantee the availability of such linked pages at all times nor
                            does necessarily endorse the views expressed therein.
                        </p> -->
                        <!-- <p>
                            These terms and conditions shall be governed by and construed in accordance with the Indian
                            Laws. Any dispute arising under these terms and conditions shall be subject to the
                            jurisdiction of the High Court of Andhra Pradesh.
                        </p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>