<style>
    .countsIcon img {
    /* background-image: url('assets/images/circlebg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15px;
    color: #0894C6;
    width: 70px;
    height: 70px; */
}
</style>

<!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-md-12"> -->
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)" dir="ltr"> -->
                    <div ngxSlickItem class="slide">
                      <div class="inner px-2 text-white">
                        <div class="countsIcon">
                            <img src="assets/images/statsiconstwo/1.svg" alt="image" class="mx-2">
                        </div>
                        <div class="statsDiv">
                            <div class="card-count">
                                2300+
                            </div>
                            <div class="card-title">
                                DPIIT Recognized
                                Startups
                            </div>
                        </div>
                      </div>
                    </div>
                    <div ngxSlickItem class="slide">
                      <div class="inner px-2 text-white">
                        <div class="countsIcon">
                            <img src="assets/images/statsiconstwo/2.svg" alt="image" class="mx-2">
                        </div>
                        <div class="statsDiv">
                            <div class="card-count">
                                1100+
                            </div>
                            <div class="card-title">
                                Women-Led Startups
                                Women Entrepreneurs
                            </div>
                        </div>
                      </div>
                    </div>
                    <div ngxSlickItem class="slide">
                      <div class="inner px-2 text-white">
                        <div class="countsIcon">
                            <img src="assets/images/statsiconstwo/3.svg" alt="image" class="mx-2">
                        </div>
                        <div class="statsDiv">
                            <div class="card-count">
                                550+
                            </div>
                            <div class="card-title">
                                Entrepreneurship Innovation
                                Start-Ups Center's
                            </div>
                        </div>
                      </div>
                    </div>
                    <div ngxSlickItem class="slide">
                      <div class="inner px-2 text-white">
                        <div class="countsIcon">
                            <img src="assets/images/statsiconstwo/4.svg" alt="image" class="mx-2">
                        </div>
                        <div class="statsDiv">
                            <div class="card-count">
                                450+
                            </div>
                            <div class="card-title">
                                Schools with Atal
                                Tinkering Labs
                            </div>
                        </div>
                      </div>
                    </div>
                    <div ngxSlickItem class="slide">
                      <div class="inner px-2 text-white">
                        <div class="countsIcon mentors">
                            <img src="assets/images/statsiconstwo/5.svg" alt="image" class="mx-2">
                        </div>
                        <div class="statsDiv">
                            <div class="card-count">
                                200+
                            </div>
                            <div class="card-title">
                                Affiliated
                                Mentors
                            </div>
                        </div>
                      </div>
                    </div>
                    <div ngxSlickItem class="slide">
                      <div class="inner px-2 text-white">
                        <div class="countsIcon">
                            <img src="assets/images/statsiconstwo/6.svg" alt="image" class="mx-2">
                        </div>
                        <div class="statsDiv">
                            <div class="card-count">
                                200+
                            </div>
                            <div class="card-title">
                                IP’s created
                            </div>
                        </div>
                      </div>
                    </div>
                    <div ngxSlickItem class="slide">
                        <div class="inner px-2 text-white">
                            <div class="countsIcon">
                                <img src="assets/images/statsiconstwo/7.svg" alt="image" class="mx-2">
                            </div>
                            <div class="statsDiv">
                                <div class="card-count">
                                    50+
                                </div>
                                <div class="card-title">
                                    Incubators &
                                    Accelerators
                                </div>
                            </div>
                        </div>
                      </div>
                      <div ngxSlickItem class="slide">
                        <div class="inner px-2 text-white">
                            <div class="countsIcon">
                                <img src="assets/images/statsiconstwo/8.svg" alt="image" class="mx-2">
                            </div>
                            <div class="statsDiv">
                                <div class="card-count">
                                    20+
                                </div>
                                <div class="card-title">
                                    Open Innovation
                                    Challenges
                                </div>
                            </div>
                        </div>
                      </div>                  
                  </ngx-slick-carousel>
            <!-- </div>
        </div>
    </div>
</section> -->