<style>
    .bodyBreadcrumbs {
    background-image: url('assets/images/whoweare/whowearebg.png');
}
</style>
<section class="bodyBreadcrumbs">

    <div class="container">

        <div class="row breadcrumbsrow align-items-center">
            <div class="col-md-12">
                <div class="bodyHeading text-white">
                    <h1>Dedicated Team
                    </h1>
                    <ol class="breadcrumb mb-0">
                        <li><a routerLink="/home">Home</a></li>
                        <!-- <li><a style="color: #14e18c;">About AP</a></li> -->
                        <li><a>Who We Are</a></li>
                        <li><a>Leadership</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-5 profile_section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="full_profile">
                    <img src="assets/images/whoweare/leadership/dedicatedteam/newpsit.png" alt="image" class="img-fluid">
                    <div class="profile_content">

                        <h3 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Nodalagency.newsecrataryname' | translate }}
                            <!-- Sri Kona Sasidhar, IAS -->
                        </h3>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Executivecommitte.chairman' | translate }}
                        </h4>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteam.vijayawada' | translate }}
                        </h4>
                    </div>
                    <!-- <div class="profile-links hstack gap-2">
                        <a href="https://www.linkedin.com/in/saurabh-gaur-31a59a156?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BHn60AMKvR8SftG5jxZ2pqQ%3D%3D" target="_blank">                                
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="full_profile">
                    <img src="assets/images/whoweare/leadership/dedicatedteam/apisnewceo.jpg" alt="image" class="img-fluid">
                    <div class="profile_content">

                        <h3 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteam.anilkumardesignation1' | translate }}
                        </h3>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteam.anilkumardesignation2' | translate }}
                        </h4>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteam.anilkumardesignation3' | translate }}
                        </h4>
                    </div>
                    <!-- <div class="profile-links hstack gap-2">
                        <a href="https://www.linkedin.com/in/anil-kumar-tentu-78516b3?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BgM%2BOzH%2F4S1ONLhclFwqk6w%3D%3D" target="_blank">                                
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="col-md-3 d-none">
                <div class="full_profile">
                    <img src="assets/images/whoweare/leadership/dedicatedteam/3.png" alt="image" class="img-fluid">
                    <div class="profile_content">

                        <h3 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteam.lavanyadesignation1' | translate }}
                        </h3>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteam.lavanyadesignation2' | translate }}
                        </h4>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteam.lavanyadesignation3' | translate }}
                        </h4>
                    </div>
                    <div class="profile-links hstack gap-2">
                        <a href="https://www.linkedin.com/in/lpriya?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BiHgOdAynTJyGdQZMBsr8Lg%3D%3D" target="_blank">                                
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="full_profile">
                    <img src="assets/images/whoweare/leadership/dedicatedteam/5.png" alt="image" class="img-fluid">
                    <div class="profile_content">

                        <!-- <h3>
                            Singamala Sreedhar
                        </h3>
                        <h4>
                            Joint Director (Hackathons & Challenges)
                        </h4>
                        <h4>
                            Vijayawada
                        </h4> -->
                        <h3 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteam.sreedhardesignation1' | translate }}
                        </h3>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteam.sreedhardesignation2' | translate }}
                        </h4>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteam.vijayawada' | translate }}
                        </h4>
                    </div>
                    <div class="profile-links hstack gap-2">
                        <a href="https://www.linkedin.com/in/singamala-sreedhar-b99bba10/overlay/contact-info/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BvS6BZAGyStWkgKZ%2BGRBhkQ%3D%3D" target="_blank">                                
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="inner_content">
                    <div class="innerpage_heading">
                        <h2>
                            Employees
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="full_profile">
                    <img src="assets/images/whoweare/leadership/dedicatedteam/employees/1.png" alt="image" class="img-fluid">
                    <div class="profile_content">

                        <h3 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.rajeshdesignation1' | translate }}
                        </h3>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.rajeshdesignation2' | translate }}
                        </h4>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.rajeshdesignation3' | translate }}
                        </h4>
                    </div>
                    <div class="profile-links hstack gap-2">
                        <a href="https://www.linkedin.com/in/rajesh-kagga-3a384721?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BajDe0TXHQ0uu2%2Fx0da1j0Q%3D%3D" target="_blank">                                
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-none">
                <div class="full_profile">
                    <img src="assets/images/whoweare/leadership/dedicatedteam/employees/2.png" alt="image" class="img-fluid">
                    <div class="profile_content">

                     
                        <h3 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.tirupathaiahdesignation1' | translate }}
                        </h3>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.tirupathaiahdesignation2' | translate }}
                        </h4>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.tirupathaiahdesignation3' | translate }}
                        </h4>
                    </div>
                    <div class="profile-links hstack gap-2">
                        <a href="https://www.linkedin.com/in/tirupathaiah-battula-199a955a?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BB3RXD7XKQ0WU0H587GU8bg%3D%3D" target="_blank">                                
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="full_profile">
                    <img src="assets/images/whoweare/leadership/dedicatedteam/employees/3.png" alt="image" class="img-fluid">
                    <div class="profile_content">

                    
                        <h3 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.banilkumardesignation1' | translate }}
                        </h3>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.banilkumardesignation2' | translate }}
                        </h4>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.banilkumardesignation3' | translate }}
                        </h4>
                    </div>
                    <div class="profile-links hstack gap-2">
                        <a href="https://www.linkedin.com/in/prasanthi-gella-9309a2305/" target="_blank">                                
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="full_profile">
                    <img src="assets/images/whoweare/leadership/dedicatedteam/employees/4.png" alt="image" class="img-fluid">
                    <div class="profile_content">

                        <h3 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.shivadesignation1' | translate }}
                        </h3>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.shivadesignation2' | translate }}
                        </h4>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.shivadesignation3' | translate }}
                        </h4>
                    </div>
                    <div class="profile-links hstack gap-2">
                        <a href="https://www.linkedin.com/in/siva-polipilli-021a27147?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BTZJFlKf2T8OYDGKel7pEfQ%3D%3D" target="_blank">                                
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="full_profile">
                    <img src="assets/images/whoweare/leadership/dedicatedteam/employees/5.png" alt="image" class="img-fluid">
                    <div class="profile_content">
                        <h3 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.sriharidesignation1' | translate }}
                        </h3>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.sriharidesignation2' | translate }}
                        </h4>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.sriharidesignation3' | translate }}
                        </h4>
                    </div>
                    <div class="profile-links hstack gap-2">
                        <a href="https://www.linkedin.com/home" target="_blank">                                
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="full_profile">
                    <img src="assets/images/whoweare/leadership/dedicatedteam/employees/6.png" alt="image" class="img-fluid">
                    <div class="profile_content">

                        <h3 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.manikantadesignation1' | translate }}
                        </h3>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.manikantadesignation2' | translate }}
                        </h4>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.manikantadesignation3' | translate }}
                        </h4>
                    </div>
                    <div class="profile-links hstack gap-2">
                        <a href="https://www.linkedin.com/in/manikanta-kalidindi-4856bb235?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BltFdK0iwS9aKszmXGIsmNA%3D%3D" target="_blank">                                
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="full_profile">
                    <img src="assets/images/whoweare/leadership/dedicatedteam/employees/7.png" alt="image" class="img-fluid">
                    <div class="profile_content">

                        <h3 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.kemburubaladesignation1' | translate }}
                        </h3>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.kemburubaladesignation2' | translate }}
                        </h4>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.kemburubaladesignation3' | translate }}
                        </h4>
                    </div>
                    <div class="profile-links hstack gap-2">
                        <a href="https://www.linkedin.com/in/kemburu-balakrishna-0b327b47?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BuXqZzpY0RdCB8lyP17i0kA%3D%3D" target="_blank">                                
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-none">
                <div class="full_profile">
                    <img src="assets/images/whoweare/leadership/dedicatedteam/employees/8.png" alt="image" class="img-fluid">
                    <div class="profile_content">

                        <h3 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.pavankumardesignation1' | translate }}
                        </h3>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.pavankumardesignation2' | translate }}
                        </h4>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.pavankumardesignation3' | translate }}
                        </h4>
                    </div>
                    <div class="profile-links hstack gap-2">
                        <a href="https://www.linkedin.com/in/govinpavankumarreddy-munagala-8208a156?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B%2B9ACnQVtQMWVBObgi6mOgA%3D%3D" target="_blank">                                
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="full_profile">
                    <img src="assets/images/whoweare/leadership/dedicatedteam/employees/9.png" alt="image" class="img-fluid">
                    <div class="profile_content">

                       
                        <h3 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.nagendradesignation1' | translate }}
                        </h3>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.nagendradesignation2' | translate }}
                        </h4>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.nagendradesignation3' | translate }}
                        </h4>
                    </div>
                    <div class="profile-links hstack gap-2">
                        <a href="https://www.linkedin.com/in/nagendra-kumar-emandi-0b0ab569?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BtpctuGvYRgeC6gAsF67dlw%3D%3D" target="_blank">                                
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        <!-- </div>
        <div class="row"> -->
            <div class="col-md-3">
                <div class="full_profile">
                    <img src="assets/images/whoweare/leadership/dedicatedteam/employees/10.png" alt="image" class="img-fluid">
                    <div class="profile_content">

                      
                        <h3 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.venkatakishoredesignation1' | translate }}
                        </h3>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.venkatakishoredesignation2' | translate }}
                        </h4>
                        <h4 [className]="isTranslationTelugu ? 'smallhead' : ''">
                            {{ 'Dedicatedteamemployees.venkatakishoredesignation3' | translate }}
                        </h4>
                    </div>
                    <div class="profile-links hstack gap-2">
                        <a href="https://www.linkedin.com/in/nambaru-venkata-kishore-77a0ba14b" target="_blank">                                
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>