<!-- #0C1C38 -->
<!-- #283747 -->
<section class="top_section py-1" style="background-image: linear-gradient(to left, #009833, #0076C8)">
    <div class="container">
        <div class="row align-items-center text-white">


            <!-- <div class="col-2 fh5co_mediya_center"><a href="#" class="color_fff fh5co_mediya_setting"><i class="far fa-calendar-alt"></i>&nbsp;&nbsp;&nbsp;{{currentDate | date:'dd-MM-yyyy'}}
                </a>
                </div> -->
            <div class="col-md-7">
                <div class="d-flex justify-content-between align-items-center breaking-news">

                    <p>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        &nbsp; Department of ITE&C, Government of Andhra Pradesh
                    </p>

                </div>
            </div>
            <div class="col-md-5">
                <div class="float-end">
                    <p>
                        <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                        innovationsociety[at]ap[dot]gov[dot]in
                        <!-- <i class="fa fa-phone" aria-hidden="true"></i> &nbsp;
                        Tollfree : 1800 233 0616 -->
                        <!-- <span class="mx-3">
                            <i class="fa fa-globe" aria-hidden="true"></i> &nbsp;
                            English
                        </span> -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="py-1 d-none d-lg-block" style="background: aliceblue;">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="navbar-brand logos hstack gap-0 align-items-center">
                    <a href="">
                        <img src="assets/images/logos/logo.png" alt="image" class="img-fluid" style="width: 80%;">
                    </a>
                    <a href="">
                        <img src="assets/images/website_logo.png" alt="image" class="img-fluid" style="width: 90%;">
                    </a>
                    <a href="https://www.g20.org/en/" target="_blank">
                        <img src="assets/images/g20-logo.png" alt="image" class="img-fluid">
                    </a>
                    <a href="https://amritmahotsav.nic.in/" target="_blank">
                        <img src="assets/images/azadhi.png" alt="image" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="navbar-brand web_profiles hstack gap-1">
                    <a href="">
                        <img src="assets/images/apcmmin.png" alt="Image" class="img-fluid">
                    </a>
                    <a href="" class="mx-2">
                        <img src="assets/images/headline.png" alt="image" class="img-fluid">
                    </a>
                    <a href="" style="">
                        <img src="assets/images/apitmin.png" alt="Image" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- #193567 -->
<!-- #1C0C32 -->

<!-- <section class="" style="background: #193567;position: sticky;
top: 0;
z-index: 100;"> -->
<section [class.sticky]="sticky" #stickyMenu style="background-image: linear-gradient(to left, #009833, #0076C8);">

    <nav class="navbar navbar-expand-lg p-0" style="background-image: linear-gradient(to left, #009833, #0076C8);">
        <!-- <div class="container"> -->
          <!-- <a class="navbar-brand text-white" href="#">Navbar</a> -->
          <button class="btn btn-danger navbar-toggler border-3 px-2" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
            >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-start-lg nav-bg" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel"
            >
            <div class="offcanvas-header mobile_profiles hstack gap-3 d-lg-none flex-wrap">
                <img src="assets/images/logos/logo.png" alt="image" class="img-fluid">
<img src="assets/images/website_logo.png" alt="image" class="img-fluid">
<img src="assets/images/apcmmin.png" alt="Image" class="img-fluid">
<img src="assets/images/apitmin.png" alt="Image" class="img-fluid">


              <!-- <h5 class="offcanvas-title text-white" id="offcanvasExampleLabel">

              </h5> -->
              <a href="javascript:void(0) "
                class="text-reset p-0"
                data-bs-dismiss="offcanvas"
                aria-label="close"
                >
                <svg xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="navy"
                  class="bi bi-x-circle"
                  viewBox="0 0 16 16"
                  >
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </a>
            </div>
            <div class="offcanvas-body p-lg-0">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0 align-items-center">
                    <!-- <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li> -->
                    <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" role="button">
                        <i class="bi bi-house fw-bold fs-5"></i>
                    </a>
                </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            About
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/owlpractice">Nodal Department</a></li>
                            <li><a class="dropdown-item" routerLink="">Vision & Mission</a></li>
                            <li><a class="dropdown-item" routerLink="">Leadership</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://apisinnovationchallenges.ap.gov.in/#/" target="_blank" role="button">
                            Challenges
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Ecosystem
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Startups</a></li>
                            <li><a class="dropdown-item" href="#">Mentors</a></li>
                            <li><a class="dropdown-item" href="#">Institutional Support</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Enablers
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Government Departments</a></li>
                            <li><a class="dropdown-item" href="#">Incubators & Accelarators</a></li>
                            <li><a class="dropdown-item" href="#">Higher Educational Institutions (HEIs)</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Schools & ATLs</a></li>
                            <li><a class="dropdown-item" href="#">Capacity Building</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            What's New
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Open Challenges</a></li>
                            <li><a class="dropdown-item" href="#">Awareness & Outreach</a></li>
                            <li><a class="dropdown-item" href="#">Center Of Excellence (COE)</a></li>
                            <li><a class="dropdown-item" href="#">AIET (Section 8 Company)</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Resources
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Regulations</a></li>
                            <li><a class="dropdown-item" href="#">Policies</a></li>
                            <li><a class="dropdown-item" href="#">Governemnt Orders & Notifications</a></li>
                            <li><a class="dropdown-item" href="#">APIS Events Reports</a></li>
                            <li><a class="dropdown-item" href="#">Market Research Reports</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Media
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Gallery</a></li>
                            <li><a class="dropdown-item" href="#">News Letters</a></li>
                            <li><a class="dropdown-item" href="#">Press Releases</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Support
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Raise a Ticket</a></li>
                            <li><a class="dropdown-item" href="#">Grievance</a></li>
                            <li><a class="dropdown-item" href="#">Check Status</a></li>
                            <li><a class="dropdown-item" href="#">FAQ's</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Contact Us
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Vishakapatnam</a></li>
                            <li><a class="dropdown-item" href="#">Kakinada</a></li>
                            <li><a class="dropdown-item" href="#">Tirupati</a></li>
                            <li><a class="dropdown-item" href="#">Vijayawada</a></li>
                        </ul>
                    </li>
                    <li class="nav-item d-none">
                        <a class="nav-link btn btn_login" role="button" [routerLink]="['/home/login']" aria-expanded="false">
                            Register/Login
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li> -->
                    <!-- <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li> -->
                </ul>
            </div>
          </div>
        <!-- </div> -->
      </nav>

    <nav class="navbar navbar-expand-lg p-0 d-none" style="background-image: linear-gradient(to left, #009833, #0076C8);">
        <div class="container-fluid">
            
            <div class="row mx-auto align-items-center">
                <div class="col-md-12">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas-body p-lg-0" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <!-- <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Home</a>
                            </li> -->
                            <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    About
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink="">Nodal Department</a></li>
                                    <li><a class="dropdown-item" routerLink="">Vision & Mission</a></li>
                                    <li><a class="dropdown-item" routerLink="">Leadership</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://apisinnovationchallenges.ap.gov.in/#/" target="_blank" role="button">
                                    Challenges
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Ecosystem
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Startups</a></li>
                                    <li><a class="dropdown-item" href="#">Mentors</a></li>
                                    <li><a class="dropdown-item" href="#">Institutional Support</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Enablers
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Government Departments</a></li>
                                    <li><a class="dropdown-item" href="#">Incubators & Accelarators</a></li>
                                    <li><a class="dropdown-item" href="#">Higher Educational Institutions (HEIs)</a>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Schools & ATLs</a></li>
                                    <li><a class="dropdown-item" href="#">Capacity Building</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    What's New
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Open Challenges</a></li>
                                    <li><a class="dropdown-item" href="#">Awareness & Outreach</a></li>
                                    <li><a class="dropdown-item" href="#">Center Of Excellence (COE)</a></li>
                                    <li><a class="dropdown-item" href="#">AIET (Section 8 Company)</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Resources
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Regulations</a></li>
                                    <li><a class="dropdown-item" href="#">Policies</a></li>
                                    <li><a class="dropdown-item" href="#">Governemnt Orders & Notifications</a></li>
                                    <li><a class="dropdown-item" href="#">APIS Events Reports</a></li>
                                    <li><a class="dropdown-item" href="#">Market Research Reports</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Media
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Gallery</a></li>
                                    <li><a class="dropdown-item" href="#">News Letters</a></li>
                                    <li><a class="dropdown-item" href="#">Press Releases</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Support
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Raise a Ticket</a></li>
                                    <li><a class="dropdown-item" href="#">Grievance</a></li>
                                    <li><a class="dropdown-item" href="#">Check Status</a></li>
                                    <li><a class="dropdown-item" href="#">FAQ's</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Contact Us
                                </a>

                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Vishakapatnam</a></li>
                                    <li><a class="dropdown-item" href="#">Kakinada</a></li>
                                    <li><a class="dropdown-item" href="#">Tirupati</a></li>
                                    <li><a class="dropdown-item" href="#">Vijayawada</a></li>
                                </ul>
                            </li>
                            <li class="nav-item d-none">
                                <a class="nav-link btn btn_login" role="button" [routerLink]="['/home/login']" aria-expanded="false">
                                    Register/Login
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li> -->
                            <!-- <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li> -->
                        </ul>
                        <form class="d-none" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>