<style>
    .bodyBreadcrumbs {
        background-image: url('assets/images/gallery/contactusbg.png');
    }
</style>
<section class="bodyBreadcrumbs">

    <div class="container">

        <div class="row breadcrumbsrow align-items-center">
            <div class="col-md-12">
                <div class="bodyHeading text-white">
                    <h1>Outreach Activities
                    </h1>
                    <ol class="breadcrumb mb-0">
                        <li><a routerLink="/home">Home</a></li>
                        <li><a>Resources</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/1/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Manage Agri - Startup Workshop</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/1" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/2/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Entrepreneurship Awareness Workshop</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/2" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/3/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Collaboration with IESA</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/3" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/4/8.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">FINTECH Innovation Challenge</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/4" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/5/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Startup Carnival</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/5" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/6/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">ICAIs MsME bus Yatra</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/6" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/7/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Industry-Academia Conclave</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/7" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/8/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Mock Shark Tank - Idea Pitch Event</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/8" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/9/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Promoting start-ups in AP</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/9" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/10/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Promoting Innovation and Startups</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/9" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/11/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Start-up Pitch – EDUMOON</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/11" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/12/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">APSCHE Committee Meeting</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/12" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/13/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Student Entrepreneurship program</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/13" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/14/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Student Entrepreneurship program</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/14" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/15/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Outreach Program on Upliftment and encouragement of artisans</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/15" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/16/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Student Entrepreneurship program</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/16" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/17/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Workshop on CoE-AR&VR (Meta)</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/17" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/18/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Workshop on AI Technology & Services</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/18" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/19/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Startup School-Pre Incubation Program</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/19" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card activity_card">
                    <img class="card-img-top" src="assets/images/resources/outreach/activities/20/1.png"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Story Telling</h4>
                        <!-- <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p> -->
                        <div class="read">
                            <a routerLink="/outreachdetails/20" class="btn btn-sm read_more text-center">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>