<section class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page_heading">
                    <h4>Admin Dashboard</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bread_crumbs float-end">
                    <h6>Home | <span>Dashboard</span></h6>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img
                        src="https://images.unsplash.com/photo-1425342605259-25d80e320565?auto=format&amp;fit=crop&amp;w=750&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
                    <div class="info">
                        <div class="card_title text-center pt-0">
                            <h2>Startups</h2>
                            <hr class="m-0">
                        </div>
                        <div class="card_content">
                            <h4>Total : <span>100</span></h4>
                            <h4>Pending : <span>10</span></h4>
                            <h4>Reviewed : <span>100</span></h4>
                            <h4>Approved : <span>80</span></h4>
                            <h4>Rejected : <span>0</span></h4>
                            <div class="read_more float-end">
                                <button class="btn btn-info fw-bold">Overview</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img
                        src="https://images.unsplash.com/photo-1425342605259-25d80e320565?auto=format&amp;fit=crop&amp;w=750&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
                    <div class="info">
                        <div class="card_title text-center pt-0">
                            <h2>Mentor</h2>
                            <hr class="m-0">
                        </div>
                        <div class="card_content">
                            <h4>Total : <span>100</span></h4>
                            <h4>Pending : <span>10</span></h4>
                            <h4>Reviewed : <span>100</span></h4>
                            <h4>Approved : <span>80</span></h4>
                            <h4>Rejected : <span>0</span></h4>
                            <div class="read_more float-end">
                                <button class="btn btn-info fw-bold">Overview</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img
                        src="https://images.unsplash.com/photo-1425342605259-25d80e320565?auto=format&amp;fit=crop&amp;w=750&amp;q=80&amp;ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
                    <div class="info">
                        <div class="card_title text-center pt-0">
                            <h2>Incubator</h2>
                            <hr class="m-0">
                        </div>
                        <div class="card_content">
                            <h4>Total : <span>100</span></h4>
                            <h4>Pending : <span>10</span></h4>
                            <h4>Reviewed : <span>100</span></h4>
                            <h4>Approved : <span>80</span></h4>
                            <h4>Rejected : <span>0</span></h4>
                            <div class="read_more float-end">
                                <button class="btn btn-info fw-bold">Overview</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

