<section class="py-3" style="background: #F8F8FA;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page_heading">
                    <h4>Dashboard</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bread_crumbs float-end">
                    <h6>Home | <span>Dashboard</span></h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <hr style="margin: 0 "> -->

<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title_heading">
                <h2>registration</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid-box">
                    <div class="card-title">
                        <h6>Step - 1</h6>
                        <h3>Application Status </h3>
                        <p>
                            <i class="bi bi-check-circle"></i>
                            <span>Registration form {{loginData?.application_status}}</span>
                        </p>
                        <div class="hstack gap-2 align-items-center">
                            <div>
                                <p class="m-0">
                                    <!-- <i class="bi bi-calendar fa-1x"></i> -->
                                    <!-- <span>20-02-2022, 10:29:30</span> -->
                                </p>
                            </div>
                            <div class="hstack gap-2 text-white float-end">
                                <a data-bs-target="#startupModal"
                                data-bs-toggle="modal" class="text-white btn btn-success">
                                    View
                                </a>
                                <!-- <a *ngIf="loginData?.application_status == 'reviewed'" (click)="goToEditPage(loggedUserRole)" class="text-white btn btn-warning">
                                    Edit
                                </a> -->

                            </div>
                        </div>
                    </div>
                    <div class="countsIcon">
                        <i class="bi bi-file-earmark-check fa-3x"></i>
                        <!-- <img src="assets/images/user/file-check.svg" alt="image" class="img-fluid"> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-none">
                <div class="grid-box">
                    <div class="card-title">
                        <h6>Step - 2</h6>
                        <h3>Approval Status</h3>
                        <p>
                            <i class="bi bi-check-circle"></i>
                            <span>Registration form {{loginData?.application_status}}</span>
                        </p>
                    </div>
                    <div class="countsIcon">
                        <img src="assets/images/user/file-search.svg" alt="image" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid-box d-none">
                    
                    <div class="card-title">
                        <h6>Step - 3</h6>
                        <h3>Certificate</h3>
                        <p>
                            <i class="bi bi-download"></i>
                            <span>Download Certificate</span>
                        </p>
                    </div>
                    <div class="countsIcon">
                        <img src="assets/images/user/file-down.svg" alt="image" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <!-- <hr> -->
            </div>
        </div>
    </div>
</section>



<section class="d-none">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title_heading">
                <h2>incubation | acceleration</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid-box">
                    <div class="card-title">
                        <h6>Step - 1</h6>
                        <h3>Application Status</h3>
                        <p>
                            <i class="bi bi-check-circle"></i>
                            <span>Registration form {{loginData?.application_status}}</span>
                        </p>
                    </div>
                    <div class="countsIcon">
                        <img src="assets/images/user/file-check.svg" alt="image" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid-box">
                    <div class="card-title">
                        <h6>Step - 2</h6>
                        <h3>Approval Status</h3>
                        <p>
                            <i class="bi bi-check-circle"></i>
                            <span>Registration form {{loginData?.application_status}}</span>
                        </p>
                    </div>
                    <div class="countsIcon">
                        <img src="assets/images/user/file-search.svg" alt="image" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid-box">
                    
                    <div class="card-title">
                        <h6>Step - 3</h6>
                        <h3>Certificate</h3>
                        <p>
                            <i class="bi bi-download"></i>
                            <span>Download Certificate</span>
                        </p>
                    </div>
                    <div class="countsIcon">
                        <img src="assets/images/user/file-down.svg" alt="image" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div>
</section>



<section class="d-none">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title_heading">
                    <h2>incentive</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid-box">
                    <div class="card-title">
                        <h6>Step - 1</h6>
                        <h3>Application Status</h3>
                        <p>
                            <i class="bi bi-check-circle"></i>
                            <span>Registration form submitted</span>
                        </p>
                    </div>
                    <div class="countsIcon">
                        <img src="assets/images/user/file-check.svg" alt="image" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid-box">
                    <div class="card-title">
                        <h6>Step - 2</h6>
                        <h3>Approval Status</h3>
                        <p>
                            <i class="bi bi-check-circle"></i>
                            <span>Registration form approved</span>
                        </p>
                    </div>
                    <div class="countsIcon">
                        <img src="assets/images/user/file-search.svg" alt="image" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid-box">
                    
                    <div class="card-title">
                        <h6>Step - 3</h6>
                        <h3>Certificate</h3>
                        <p>
                            <i class="bi bi-download"></i>
                            <span>Download Certificate</span>
                        </p>
                    </div>
                    <div class="countsIcon">
                        <img src="assets/images/user/file-down.svg" alt="image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div data-backdrop="static" class="modal common-modal fade" id="startupModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background: none;padding: 0px;border: none;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"
                    aria-hidden="true"></i>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <app-user-startup-view *ngIf="loggedUserRole == 'STARTUP'"></app-user-startup-view>
                <app-user-mentor-view *ngIf="loggedUserRole == 'MENTOR'"></app-user-mentor-view>
                <app-user-incubator-view *ngIf="loggedUserRole == 'INCUBATOR'"></app-user-incubator-view>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer p-0">
                <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button> -->
            </div>

        </div>
    </div>
</div>