<style>
    .countsIcon img {
    background-image: url('assets/images/reasons/new/reasons_circle.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 16px;
    /* width: 30px; */
    /* height: 30px; */
    color: #0894C6;
    width: 70px;
    height: 70px;
}
</style>


<section class="py-5" style="margin-top: -22px;position: relative; background-image: url('assets/images/reasons/new/reasons_pattern.png');background-repeat: no-repeat;background-position: top right;">
    
    <!-- <section class="startsups_section py-5" style="background: aliceblue;position: relative;
    z-index: 0;
    overflow: hidden;"> -->
        <!-- background-image: url('assets/images/earth_glow.png'); -->
        <!-- <div style="background-image: url('assets/images/reasons/new/reasons_bg.png');
        background-repeat: no-repeat;
        background-size: 33%;background-position: center;position:absolute;opacity: 1;top: 10%;bottom: 0;right: 0;left: 0;z-index: -1;"></div> -->
    
    <div class="container">
        <div class="innerpage_heading">
            <h2 [className]="isTranslationTelugu ? 'sectionheadingtelugu' : ''">
                {{ 'Reasons.reasonsheading' | translate }}
        </h2>
        </div>
       
        <div class="row statsRow py-5 align-items-center">
            <div class="col-md-4 first_column">
                <!-- data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1500" -->
                <div class="grid-box">
                    <div class="countsIcon ms-2">
                        <img src="assets/images/reasons/new/one.svg" alt="image" class="">
                    </div>
                    <div class="statsDiv">
                        <div class="card-count">
                            <h4 [className]="isTranslationTelugu ? 'sectionsubheadingtelugu' : ''">
                                {{ 'Reasons.reasonssubheading1' | translate }}
                        </h4>
                        </div>
                        <div class="card-title">
                            <h6>
                                (EoDB) (DPIIT, 2022)
                            </h6>
                            <!-- <h6 [className]="isTranslationTelugu ? 'sectionsubheadingcaptiontelugu' : ''">
                                {{ 'Reasons.reasonsheadingcaption1' | translate }}
                        </h6> -->
                        </div>
                    </div>
                </div>
                <!-- data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1900" -->
                <div class="grid-box">
                    <div class="countsIcon ms-2">
                        <img src="assets/images/reasons/new/two.svg" alt="image" class="">
                    </div>
                    <div class="statsDiv">
                        <div class="card-count">
                            <h4 [className]="isTranslationTelugu ? 'sectionsubheadingtelugu' : ''">
                                {{ 'Reasons.reasonssubheading2' | translate }}
                        </h4>
                        </div>
                        <div class="card-title">
                            <h6 [className]="isTranslationTelugu ? 'sectionsubheadingcaptiontelugu' : ''">
                                {{ 'Reasons.reasonsheadingcaption2' | translate }}
                        </h6>
                        </div>
                    </div>
                </div>
                <!-- data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="2300" -->
                <div class="grid-box">
                    <div class="countsIcon ms-2">
                        <img src="assets/images/reasons/new/three.svg" alt="image" class="">
                    </div>
                    <div class="statsDiv">
                        <div class="card-count">
                            <h4 [className]="isTranslationTelugu ? 'sectionsubheadingtelugu' : ''">
                                {{ 'Reasons.reasonssubheading3' | translate }}
                        </h4>
                        </div>
                        <div class="card-title">
                            <h6 [className]="isTranslationTelugu ? 'sectionsubheadingcaptiontelugu' : ''">
                                {{ 'Reasons.reasonsheadingcaption3' | translate }}
                        </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="reason_middle">
                    <img src="assets/images/reasons/new/reasons_bg.png" alt="" class="img-fluid">
                </div>
            </div>

            <div class="col-md-4">
                <!-- data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1500" -->
                <div class="grid-box">
                    <div class="countsIcon ms-2">
                        <img src="assets/images/reasons/new/four.svg" alt="image" class="">
                    </div>
                    <div class="statsDiv">
                        <div class="card-count">
                            <h4 [className]="isTranslationTelugu ? 'sectionsubheadingtelugu' : ''">
                                {{ 'Reasons.reasonssubheading4' | translate }}
                        </h4>
                        </div>
                        <div class="card-title">
                            <h6>
                                (India Innovation Index 2022)
                            </h6>
                        </div>
                    </div>
                </div>
                <!-- data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1900" -->
                <div class="grid-box">
                    <div class="countsIcon ms-2 mentors">
                        <img src="assets/images/reasons/new/five.svg" alt="image" class="">
                    </div>
                    <div class="statsDiv">
                        <div class="card-count">
                            <h4 [className]="isTranslationTelugu ? 'sectionsubheadingtelugu' : ''">
                                {{ 'Reasons.reasonssubheading5' | translate }}
                        </h4>
                        </div>
                        <div class="card-title d-none">
                            Affiliated
                            Mentors
                        </div>
                    </div>
                </div>
                <!-- data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="2300" -->
                <div class="grid-box">
                    <div class="countsIcon ms-2">
                        <img src="assets/images/reasons/new/six.svg" alt="image" class="">
                    </div>
                    <div class="statsDiv">
                        <div class="card-count">
                            <h4 [className]="isTranslationTelugu ? 'sectionsubheadingtelugu' : ''">
                                {{ 'Reasons.reasonssubheading6' | translate }}
                        </h4>
                        </div>
                        <div class="card-title d-none">
                            IP’s created
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>