<div id="" class="mr-auto ml-auto border px-2">
    <div id="firstPDFPrint">
           <div class="user-preview">

            <div class="row mt-3 user-preview">

                <div class="col-md-12 ml-auto mr-auto">

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group d-flex flex-md-row flex-sm-row">
                                <div class="col-md-5 col-sm-4 col-12 col-sm-4">
                                    <div class="previewLabelName">
                                        Incubator Name
                                    </div>
                                </div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-6 col-12 col-sm-7">
                                    <div class="previewLabelValue">
                                        {{bindRowData?.incubator_name}}
                                  </div>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-md-row flex-sm-row">
                                <div class="col-md-5 col-12 col-sm-4">
                                    <div class="previewLabelName">
                                        Date of Establishment
                                    </div>
                                </div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-6 col-12 col-sm-7">
                                    <div class="previewLabelValue">
                                        {{bindRowData?.establishment_date | date: 'dd/MM/yyyy'}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-md-row flex-sm-row">
                                <div class="col-md-5 col-12 col-sm-4">
                                    <div class="previewLabelName">
                                        Current Incubatees
                                    </div>
                                </div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-6 col-12 col-sm-7">
                                    <div class="previewLabelValue">
                                        {{bindRowData?.current_incubates}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-md-row flex-sm-row">
                                <div class="col-md-5 col-12 col-sm-4">
                                    <div class="previewLabelName">
                                        Stages
                                    </div>
                                </div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-6 col-12 col-sm-7">
                                    <div class="previewLabelValue">
                                        {{bindRowData?.stage_name}}
                                    </div>
                                </div>
                            </div>

                                <div class="form-group d-flex flex-md-row flex-sm-row">
                                    <div class="col-md-5 col-12 col-sm-4">
                                        <div class="previewLabelName">
                                            Brief
                                        </div>
                                    </div>
                                    <div class="col-md-1">:</div>
                                    <div class="col-md-6 col-12 col-sm-7">
                                        <div class="previewLabelValue">
                                            {{bindRowData?.brief}}
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group d-flex flex-md-row flex-sm-row">
                                <div class="col-md-5 col-12 col-sm-4">
                                    <div class="previewLabelName">
                                        Programme Duration
                                    </div>
                                </div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-6 col-12 col-sm-7">
                                    <div class="previewLabelValue">
                                        {{bindRowData?.program_duration}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-md-row flex-sm-row">
                                <div class="col-md-5 col-12 col-sm-4">
                                    <div class="previewLabelName">
                                        Graduated Incubatees
                                    </div>
                                </div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-6 col-12 col-sm-7">
                                    <div class="previewLabelValue">
                                        {{bindRowData?.graduated_incubates == '1'? 'Yes':'No'}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group d-flex flex-md-row flex-sm-row" *ngIf="bindRowData?.graduated_incubates == '1'">
                                <div class="col-md-5 col-12 col-sm-4 nowrap">
                                    <div class="previewLabelName">
                                        Graduated Incubatees Count
                                    </div>
                                </div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-6 col-12 col-sm-7">
                                    <div class="previewLabelValue">
                                        {{bindRowData?.graduated_incubatees_count}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-md-row flex-sm-row">
                                <div class="col-md-5 col-12 col-sm-4">
                                    <div class="previewLabelName">
                                        Industry
                                    </div>
                                </div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-6 col-12 col-sm-7">
                                    <div class="previewLabelValue">
                                        {{bindRowData?.industry_name}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group d-flex flex-md-row flex-sm-row" *ngIf="bindRowData?.industry_others">
                                <div class="col-md-5 col-12 col-sm-4">
                                    <div class="previewLabelName">
                                        Industry Others
                                    </div>
                                </div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-6 col-12 col-sm-7">
                                    <div class="previewLabelValue">
                                        {{bindRowData?.industry_others}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group d-flex flex-md-row flex-sm-row">
                                <div class="col-md-5 col-12 col-sm-4">
                                    <div class="previewLabelName">
                                        Industry Subtype
                                    </div>
                                </div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-6 col-12 col-sm-7">
                                    <div class="previewLabelValue">
                                        {{bindRowData?.sector_name}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-md-row flex-sm-row">
                                <div class="col-md-5 col-12 col-sm-4">
                                    <div class="previewLabelName">
                                        Industry Subtype Others
                                    </div>
                                </div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-6 col-12 col-sm-7">
                                    <div class="previewLabelValue">
                                        {{bindRowData?.sector_subtype_others}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-md-row flex-sm-row">
                                <div class="col-md-5 col-12 col-sm-4">
                                    <div class="previewLabelName">
                                        Interests
                                    </div>
                                </div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-6 col-12 col-sm-7">
                                    <div class="previewLabelValue">
                                        {{bindRowData?.interest_name}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-md-row flex-sm-row">
                                <div class="col-md-5 col-12 col-sm-4">
                                    <div class="previewLabelName">
                                        DIPP Empanelment Number
                                    </div>
                                </div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-6 col-12 col-sm-7">
                                    <div class="previewLabelValue">
                                        {{bindRowData?.dipp_implement_number}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <h4 class="print form-heading">Contact Info</h4>
                </div>
                <div class="col-md-6">
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Mobile Number
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.contact_mobile}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Email
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.contact_email}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                State
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.state_name}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                City
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.incubator_name}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div *ngIf="bindRowData?.application_link" class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Application Link
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.application_link}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Incuation Location Map
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.location}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Incuation Location Address
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.location_address}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <h4 class="print form-heading">Point of Contact Info</h4>
                </div>
                <div class="col-md-6">
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Name
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.pointofcontact_name}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Mobile Number
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.pointofcontact_mobile_number}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Email
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.pointofcontact_email}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Role
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.pointofcontact_userrole}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Land Line Number
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.pointofcontact_landline_number}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Success Stories
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.pointofcontact_success_stories}}
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="bindRowData?.pointofcontact_success_stories != 'no'"> 
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Startup Name
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.startup_name}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Website/Mobile App Link
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.website}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Entered the incubator in
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.entered_the_incubator_in}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Startup India Hub Profile Link
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.startup_india_profile_link}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex flex-md-row flex-sm-row">
                        <div class="col-md-5 col-12 col-sm-4">
                            <div class="previewLabelName">
                                Brief/tagline
                            </div>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-6 col-12 col-sm-7">
                            <div class="previewLabelValue">
                                {{bindRowData?.startup_brief}}
                            </div>
                        </div>
                    </div>
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <h4 class="print form-heading">Uploaded Documents</h4>
                </div>

                <div class="col-md-12 ml-auto mr-auto">
                    <div>
                        <div class="form-group d-flex flex-md-row flex-sm-row mt-2">
                            <div class="col-md-4">Entity/Company Logo</div>
                            <div class="col-md-1">:</div>
                            <div class="document col-md-7">
                                <!-- <button class="btn btn-outline-primary btn-sm">
                                    <a class="text-white btn-outline-primary btn btn-primary"
                                     (click)="View(bindRowData?.company_logo)" target="_blank" style="cursor: pointer;">
                                        <i class="fa fa-eye"></i> View
                                    </a>
                                </button> &nbsp; -->
                                <button class="btn btn-outline-primary btn-sm">
                                    <a class="text-white btn-outline-primary btn btn-primary"
                                    (click)="downloadFile(bindRowData?.company_logo)" download target="_blank" style="cursor: pointer;">
                                       <i class="fa fa-download"></i> Download
                                   </a>  </button>
                            </div>
                        </div>

                        <div class="form-group d-flex flex-md-row flex-sm-row mt-2" *ngIf="bindRowData?.pointofcontact_success_stories != 'no'">
                            <div class="col-md-4">Startup Logo</div>
                            <div class="col-md-1">:</div>
                            <div class="document col-md-7">
                               <button class="btn btn-outline-primary btn-sm">
                                    <a class="text-white btn-outline-primary btn btn-primary"
                                    (click)="downloadFile(bindRowData?.startup_logo)" download target="_blank" style="cursor: pointer;">
                                       <i class="fa fa-download"></i> Download
                                   </a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>








    </div>
    <hr />
    <!-- <div class="text-center" style="margin-bottom: 10px;">
        <button class="btn btn-info">Download as PDF</button>

    </div>
    <hr /> -->


    <div class="row mb-3">
        <!--  -->

        <div class="col-md-12 text-center">
            <!-- <button class="btn approve mr-1" data-target="#approved" (click)="modalDisplayApprove = true" data-toggle="modal">Approve</button>
<button class="btn review mr-1" data-target="#reviewModal" (click)="modalDisplayReview = true; rejectComments=''" data-toggle="modal">Review</button>
<button class="btn reject" data-target="#rejectModal" (click)="modalDisplayReject = true; rejectComments=''" data-toggle="modal">Reject</button> -->
            <!-- <label for="modal-approve-open" class="btn btn-big approve mr-1">Approve</label>
            <label for="modal-review-open" class="btn btn-big review mr-1">Under Observation</label>
            <label for="modal-reject-open" class="btn btn-big reject">Reject</label> -->

            <!-- approve radio button starts -->

            <input type="radio" id="modal-approve-close" name="modal-approve-radio" aria-hidden="true"
                hidden />
            <input type="radio" id="modal-approve-open" name="modal-approve-radio" aria-hidden="true"
                hidden />

            <!-- approve radio button ends -->

            <!-- review radio button starts -->
            <input type="radio" id="modal-review-close" name="modal-review-radio" aria-hidden="true"
                hidden />
            <input type="radio" id="modal-review-open" name="modal-review-radio" aria-hidden="true"
                hidden />

            <!-- review radio button ends -->

            <!-- reject radion button starts -->

            <input type="radio" id="modal-reject-close" name="modal-reject-radio" aria-hidden="true"
                hidden />
            <input type="radio" id="modal-reject-open" name="modal-reject-radio" aria-hidden="true"
                hidden />

            <!-- reject radio button ends -->

        </div>
    </div>


</div>