

<ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="false"
[keyboard]="true" [pauseOnHover]="false" [interval]="3500">

  <ng-template ngbSlide>
    <div class="wrapper">
      <img src="assets/images/banners/1.png" alt="image" class="img-fluid w-100 d-block h-100">
    </div>

    <div class="first_banner carousel-caption">
      <p>
        Entrepreneurs, It’s time to unlock and Build your <span>Startup's Identity</span> In Andhra Pradesh
      </p>
      <a href="" class="btn btn_bannerone_register">Register Now</a>
      <div class="details_action d-flex align-items-center mt-4">
        <a href="#" class="btn common_btn btn_startup">Startup</a>
        <a href="#" class="mx-3 btn common_btn btn_mentor">Mentor</a>
        <a href="#" class="btn common_btn btn_incubator">Incubator</a>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img src="assets/images/banners/2.png" alt="image" class="img-fluid w-100 d-block h-100">
    </div>
    <div class="first_banner carousel-caption">
      <p>
        Do you know 90% of Indian startups fail within 5 years due to lack of Experience &
        Mentorship
      </p>
      <a href="" class="btn btn_bannerone_register">Register Now</a>
      <div class="details_action d-flex align-items-center mt-4">
        <a href="#" class="btn common_btn btn_startup">Startup</a>
        <a href="#" class="mx-3 btn common_btn btn_mentor">Mentor</a>
        <a href="#" class="btn common_btn btn_incubator">Incubator</a>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img src="assets/images/banners/3.png" alt="image" class="img-fluid w-100 d-block h-100">
    </div>
    <div class="first_banner carousel-caption">
      <p>
        Together, let us ignite the spark of innovation-fuelled synergistic and sustainable
        ecosystem in Andhra Pradesh
      </p>
      <a href="" class="btn btn_bannerone_register">Register Now</a>
      <div class="details_action d-flex align-items-center mt-4">
        <a href="#" class="btn common_btn btn_startup">Startup</a>
        <a href="#" class="mx-3 btn common_btn btn_mentor">Mentor</a>
        <a href="#" class="btn common_btn btn_incubator">Incubator</a>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img src="assets/images/banners/4.png" alt="image" class="img-fluid w-100 d-block h-100">
    </div>
    <div class="first_banner carousel-caption">
      <p>
        Embracing Innovations in Government (G2C & G2B) through Open Innovation
        Challenges & Hackathons
      </p>
      <a href="" class="btn btn_bannerone_register">Register Now</a>
      <div class="details_action d-flex align-items-center mt-4">
        <a href="#" class="btn common_btn btn_startup">Startup</a>
        <a href="#" class="mx-3 btn common_btn btn_mentor">Mentor</a>
        <a href="#" class="btn common_btn btn_incubator">Incubator</a>
        <!-- <a href="https://apisinnovationchallenges.ap.gov.in" class="btn apichallenges_btn common_btn btn_startup">Innocatio Challenges</a> -->
      </div>
    </div>
  </ng-template>
</ngb-carousel>