<!doctype html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
    //   sih_auth_api_key = "ODxh334SpRagA";
    //   sih_auth_callback_uri ="https://dev-apit.e-pragati.in"
    // sih_auth_api_key = "BRnUkuRPrAgAtI";
    //   sih_auth_callback_uri ="https://dev-startup.e-pragati.in"
    sih_auth_api_key = "ODxJhR4SpRAga";
      sih_auth_callback_uri ="https://apis.ap.gov.in"
      </script>
</head>
<body>

<section>
<div class="vh-80 py-5 d-flex justify-content-center align-items-center Homebanner-overlay">
    <ul class="circles d-none">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    
<!--   -->
    <div class="container h-100">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
            <!-- <div class="col-12 col-md-9 col-lg-9"> -->
                <div class="border border-3 border-primary"></div>
                <div class="card bg-white shadow-lg my_card">
                    <div class="card-body p-4">
                        <!-- mt-md-4 -->
                        <!-- <button class="oauth-login" (click)="getUserDetails()">Sign In with Startup India</button> -->

                        <form class="mb-3" [formGroup]="loginForm">
                            <div class="text-center pb-4">
                                <img src="assets/images/website_logo.png" alt="image" class="img-fluid text-center">
                            </div>
                            <!-- <h2 class="fw-bold mb-2 text-uppercase ">Brand</h2> -->
                            <!-- <p class="mb-5">Please enter your login and password!</p> -->
                             <div class="col-md-12 d-none">
                                <div class="imp_text">
                                    <h4>
                                        AP Startup One Portal is currently under maintenance. Users attempting to log in or apply for startup incentives may experience temporary unavailability.
    
    We are working to restore full functionality at the earliest. Please check back shortly.
                                    </h4>
                                </div>
                             </div>
                             <!-- <div class="d-none"> -->

                            <div class="form-group">
                                <label for="email" class="form-label ">Email address</label>
                                <input type="email" formControlName="email" autocomplete="off" class="form-control" id="email"
                                    placeholder="name@example.com">
                                <div
                                    *ngIf="(loginFormCtrls.email.touched || submitted) && loginFormCtrls.email.invalid">
                                    <span class="text-danger" *ngIf="loginFormCtrls.email.errors.required">
                                        Email is required
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="(loginFormCtrls.email.touched || submitted) && loginFormCtrls.email.errors?.pattern">
                                        Enter Valid Email
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="form-label ">Password</label>
                                <input type="password" formControlName="password" autocomplete="off" class="form-control" id="password"
                                    placeholder="*******">
                                <div
                                    *ngIf="(loginFormCtrls.password.touched || submitted) && loginFormCtrls.password.invalid">
                                    <span class="text-danger" *ngIf="loginFormCtrls.password.errors.required">
                                        Password is required
                                    </span>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                    <div class="hstack gap-2">
                                        <div>
                                            <img [src]="'data:image/jpg;base64,'+imageBase64" width="100" height="50" alt="" srcset="" />
                                        </div>
                                        <div>
                                            <button type="button" (click)="loadcaptcha();" class="btn btn-primary btn-block btn-sm"> <i class="fa fa-undo" aria-hidden="true"></i> <small> Refresh</small></button>
                                        </div>
                                        <div>
                                            <input type="text" class="form-control mt-1" formControlName="captchacode"  maxlength="6" autocomplete="off" placeholder="Enter Captcha" required="required">
                                            <div
                                                *ngIf="(loginFormCtrls.captchacode.touched || submitted) && loginFormCtrls.captchacode.invalid">
                                                <span class="text-danger" *ngIf="loginFormCtrls.captchacode.errors.required">
                                                    Captcha is required
                                                </span>
                                            </div>
                                        </div>
                                </div>
                               
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-outline-dark login_btn" type="submit"
                                    (click)="submitLoginForm()">Login</button>
                            </div>
                        <!-- <button class="oauth-login">Sign In with Startup India</button> -->
                            <!-- </div> -->
                        </form>
                        <!-- <button class="oauth-login">Sign In with Startup India</button> -->

                        <!-- <div class="d-none"> -->
                        <div class="hstack gap-2 justify-content-center">
                            <p class="mb-0  text-center">Don't have an account?</p>
                            <a (click)="goToRegister()" class="text-primary fw-bold">Sign
                                Up</a>
                        </div>
                        <div class="text-center pt-2">
                            <button class="oauth-login btn" (click)="ssoLogin()">Sign In with Startup India</button>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div id="scene" class="d-none">
            <img class="img-fluid hero-bg-1 up-down-animation"
              src="assets/images/login/feature-bg-2.png" alt="">
            <img class="img-fluid hero-bg-2 left-right-animation"
              src="assets/images/login/seo-ball-1.png" alt="">
            <img class="img-fluid hero-bg-3 left-right-animation"
              src="assets/images/login/seo-half-cycle.png" alt="">
            <img class="img-fluid hero-bg-4 up-down-animation"
              src="assets/images/login/green-dot.png" alt="">
            <img class="img-fluid hero-bg-5 left-right-animation"
              src="assets/images/login/blue-half-cycle.png" alt="">
            <img class="img-fluid hero-bg-6 up-down-animation"
              src="assets/images/login/seo-ball-1.png" alt="">
            <img class="img-fluid hero-bg-7 left-right-animation"
              src="assets/images/login/yellow-triangle.png" alt="">
            <img class="img-fluid hero-bg-8 up-down-animation"
              src="assets/images/login/service-half-cycle.png" alt="">
            <img class="img-fluid hero-bg-9 up-down-animation"
              src="assets/images/login/team-bg-triangle.png" alt="">
          </div>
    </div>
</div>
</section>
</body>
<!-- <script type="text/javascript"
src="https://www.startupindia.gov.in/etc/designs/invest-india/investindialibs/js/siauthlogin.js"></script> -->
</html>