<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile Number</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Pankaj Pathak</td>
                                <td>pankaj.pathak@nanotrics.com</td>
                                <td>8386822465</td>
                                <td>
                                    <a href="" class="btn btn_connect">Connect</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Aparna Mishra</td>
                                <td>aparnaa.mishra@gmail.com</td>
                                <td>9792201002</td>
                                <td>
                                    <a href="" class="btn btn_connect">Connect</a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Pankaj Pathak</td>
                                <td>pankaj.pathak@nanotrics.com</td>
                                <td>8386822465</td>
                                <td>
                                    <a href="" class="btn btn_connect">Connect</a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Aparna Mishra</td>
                                <td>aparnaa.mishra@gmail.com</td>
                                <td>9792201002</td>
                                <td>
                                    <a href="" class="btn btn_connect">Connect</a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Pankaj Pathak</td>
                                <td>pankaj.pathak@nanotrics.com</td>
                                <td>8386822465</td>
                                <td>
                                    <a href="" class="btn btn_connect">Connect</a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Aparna Mishra</td>
                                <td>aparnaa.mishra@gmail.com</td>
                                <td>9792201002</td>
                                <td>
                                    <a href="" class="btn btn_connect">Connect</a>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Pankaj Pathak</td>
                                <td>pankaj.pathak@nanotrics.com</td>
                                <td>8386822465</td>
                                <td>
                                    <a href="" class="btn btn_connect">Connect</a>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Aparna Mishra</td>
                                <td>aparnaa.mishra@gmail.com</td>
                                <td>9792201002</td>
                                <td>
                                    <a href="" class="btn btn_connect">Connect</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>