<style>
    .bodyBreadcrumbs {
    background-image: url('assets/images/gallery/contactusbg.png');
    }
    </style>
<section class="bodyBreadcrumbs">

    <div class="container">

        <div class="row breadcrumbsrow align-items-center">
            <div class="col-md-12">
                <div class="bodyHeading text-white">
                    <h1>Press Release
                    </h1>
                    <ol class="breadcrumb mb-0">
                        <li><a routerLink="/home">Home</a></li>
                        <li><a>Resources</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="text-center pressrelease">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row d-none">
            <div class="col-md-12">
                <div class="new_full">
                    <img src="assets/images/resources/pressreleases/Picture1.png" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture2.jpg" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture3.jpg" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture4.jpg" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture5.jpg" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture6.jpg" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture7.jpg" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture8.png" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture9.jpg" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture10.jpg" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture11.jpg" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture12.jpg" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture13.jpg" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture14.png" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture15.jpg" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture16.jpg" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture17.png" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture18.png" alt="image" class="img-fluid">
                    <img src="assets/images/resources/pressreleases/Picture19.jpg" alt="image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>