<style>
    .bodyBreadcrumbs {
        background-image: url('assets/images/ecosystem/ecosystembg.png');
    }
</style>
<section class="bodyBreadcrumbs">

    <div class="container">

        <div class="row breadcrumbsrow align-items-center">
            <div class="col-md-12">
                <div class="bodyHeading text-white">
                    <h1>Social Impact Startups</h1>
                    <ol class="breadcrumb mb-0">
                        <li><a routerLink="/home">Home</a></li>
                        <!-- <li><a style="color: #14e18c;">About AP</a></li> -->
                        <li><a>Ecosystem</a></li>
                        <li><a>Insitutional Support</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <div class="float-end">
                        <a class="btn btn-info"
                            href="assets/images/ecosystem/institutionalsupport/socialimpactstartups/list/SOCIAL IMPACT STARTUPS.xlsx"
                            target="_blank">
                            Download Total List
                        </a>
                    </div>
                    <table class="table table-bordered w-100">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Startup Name</th>
                                <th>Sector</th>
                                <th>Focus Industry</th>
                                <th>City</th>
                                <th>SPOC Name</th>
                                <th>Mobile No.</th>
                                <th>Email</th>
                                <th>Logo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>East-Coast Sustainable Private Limited</td>
                                <td>Clean Tech</td>
                                <td>Green Technology</td>
                                <td>Visakhapatnam</td>
                                <td>Ram Prasad Veera Pulavarty</td>
                                <td>9705300059</td>
                                <td>srinivasa[dot]gandepalli[at]eastcoast[dot]net[dot]in</td>
                                <td>
                                    <img src="assets/images/ecosystem/institutionalsupport/socialimpactstartups/list/1.png"
                                        alt="image" class="img-fluid">
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>IOUT Private Limited</td>
                                <td>Clean Tech</td>
                                <td>Green Technology</td>
                                <td>Guntur</td>
                                <td>Chetana Vipparla</td>
                                <td>8179120298</td>
                                <td>inventtech[at]iout4u[dot]org</td>
                                <td>
                                    <img src="assets/images/ecosystem/institutionalsupport/socialimpactstartups/list/2.png"
                                        alt="image" class="img-fluid">
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Sreshta Envirotech Private Limited</td>
                                <td>Waste Management</td>
                                <td>Green Technology</td>
                                <td>Srikakulam</td>
                                <td>Vemula Chalam Venkata</td>
                                <td>9032373373</td>
                                <td>chalam[at]sreshtaenviro[dot]in</td>
                                <td>
                                    <img src="assets/images/ecosystem/institutionalsupport/socialimpactstartups/list/3.png"
                                        alt="image" class="img-fluid">
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Natureloop Eco Solutions Private Limited</td>
                                <td>Waste Management</td>
                                <td>Green Technology</td>
                                <td>Chittoor</td>
                                <td>Nandimandalam Kalyana Prasad</td>
                                <td>9390490570</td>
                                <td>kalyan[at]natureloop[dot]co</td>
                                <td>
                                    <img src="assets/images/ecosystem/institutionalsupport/socialimpactstartups/list/4.png"
                                        alt="image" class="img-fluid">
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Garudalytics</td>
                                <td>IT Sector</td>
                                <td>Geospatial</td>
                                <td>Visakhapatnam</td>
                                <td>Dr.VSSK Kiran</td>
                                <td>7382169329</td>
                                <td>vssk[at]garudalytics[dot]com</td>
                                <td>
                                    <img src="assets/images/ecosystem/institutionalsupport/socialimpactstartups/list/5.png"
                                        alt="image" class="img-fluid">
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Apna Bhoomi</td>
                                <td>Waste Management</td>
                                <td>Green Technology</td>
                                <td>Srikakulam</td>
                                <td>Leena Basanthi</td>
                                <td>7893322599</td>
                                <td>leenabasanthi[at]apnabhoomi[dot]com</td>
                                <td>
                                    <img src="assets/images/ecosystem/institutionalsupport/socialimpactstartups/list/6.png"
                                        alt="image" class="img-fluid">
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Vasthi Instruments Private Limited</td>
                                <td>Waste Management</td>
                                <td>Green Technology</td>
                                <td>Guntur</td>
                                <td>Katta Prakash</td>
                                <td>9398304421</td>
                                <td>info[at]vasthi[dot]com</td>
                                <td>
                                    <img src="assets/images/ecosystem/institutionalsupport/socialimpactstartups/list/7.png"
                                        alt="image" class="img-fluid">
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Clevinno</td>
                                <td>Clean Tech</td>
                                <td>Green Technology</td>
                                <td>Visakhapatnam</td>
                                <td>Rajendra Prasad Moturu</td>
                                <td>9490076256</td>
                                <td>rajendraprasadmoturu[at]gmail[dot]com</td>
                                <td>
                                    <img src="assets/images/ecosystem/institutionalsupport/socialimpactstartups/list/8.png"
                                        alt="image" class="img-fluid">
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Yantranet</td>
                                <td>IT Sector</td>
                                <td>IoT</td>
                                <td>Visakhapatnam</td>
                                <td>Rohit</td>
                                <td>9573721731</td>
                                <td>uvprvarma[at]yantranet[dot]com</td>
                                <td>
                                    <img src="assets/images/ecosystem/institutionalsupport/socialimpactstartups/list/9.png"
                                        alt="image" class="img-fluid">
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Svabag Labs Private Limited</td>
                                <td>Clean Tech</td>
                                <td>Green Technology</td>
                                <td>Karlapalem</td>
                                <td>Sudhakar Babu Gariganti</td>
                                <td>9739141463</td>
                                <td>sudhakar[dot]gariganti[at]gmail[dot]com</td>
                                <td>
                                    <img src="assets/images/ecosystem/institutionalsupport/socialimpactstartups/list/10.png"
                                        alt="image" class="img-fluid">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>