

<!-- home alert starts -->

<div class="modal fade alertModal" data-bs-backdrop="static" data-bs-keyboard="false" id="myModal" *ngIf="closeBtn"
    style="display: block;opacity: 1; background: rgba(0,0,0,0.8);" id="modal-subscribe" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg my-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header border-0 p-0" style="background: #004982;">
                <button type="button" class="close" data-dismiss="modal" (click)="closeBtn = false"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <style>
                .modal-header {
                    background: #11558a;
                }

                .modal-content {
                    border: none;
                }

                .modal-dialog .modal-content .close span {
                    margin: 0;
                    display: block;
                }

                .modal-dialog .modal-content .close {
                    color: #11558a;
                    /* color: #1beba1; */
                    /* background-color: orange; */
                    background-color: #fff;
                    font-size: 33px;
                    line-height: 0;
                    height: 40px;
                    width: 40px;
                    padding: 0;
                    opacity: 1;
                    border-radius: 50%;
                    box-shadow: 0 0 5px #555;
                    /* position: absolute;
                    left: auto;
                    right: -7px;
                    top: -7px; */
                    position: absolute;
                    left: auto;
                    right: 17px;
                    top: 16px;
                    z-index: 1;
                    transition: all 0.3s;
                }
                .my-dialog {
                    transform: none !important;
                }
            </style>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="p-5 px-2">
                                <ul>
                                    <!-- <li>
                                        APIS invites applications from eligible candidates for engagement in managerial positions on contractual basis-for more details check official notification - <a href="assets/notifications/APIS Recruitment News paper.pdf" target="_blank">Click Here <img src="assets/images/new.gif" alt="image" class="img-fluid"></a>
                                    </li> -->
                                    <li class="py-3">
                                        Applications are invited from potential promoters for Ratan Tata Innovation Hubs and 5 spokes.Applications submission via email to:- <a href="mailto:ceo-apis@ap.gov.in">ceo-apis@ap.gov.in</a>
                                        <a href="assets/images/resources/gosnotifications/2025ITC_36265_MS6_E.pdf" class="btn btn-sm btn-primary ms-3" target="_blank"> Click Here for Government Order </a> and <a class="ps-3" class="btn btn-sm btn-primary" href="assets/notifications/apisnotification.pdf" target="_blank">Click Here for Paper Notification</a> <img src="assets/images/new.gif" alt="image" class="img-fluid">
                                    </li>
                                    <li>
                                        RTIH Corrigendum- The last date for submission of proposals from potential promoters extended till 25.04.2025. Applications submission via email to:- <a href="mailto:ceo-apis@ap.gov.in">ceo-apis@ap.gov.in</a>
                                        <a href="assets/images/resources/gosnotifications/RTIH-Corr22052025.pdf" class="btn btn-sm btn-primary ms-3" target="_blank"> Click Here for New Government Order </a><img src="assets/images/new.gif" alt="image" class="img-fluid">
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- home alert ends -->



<!-- <img src="assets/images/banners/one.png" alt="bannerone" class="img-fluid w-100"> -->

<!-- <section class="py-5" style="background-color: #1C0C32;position: relative;"> -->


<!-- <app-homeslidebanner></app-homeslidebanner> -->
<app-swipertwo></app-swipertwo>
<!-- <app-swiper></app-swiper> -->


<!-- scrolling starts -->

<section class="news_scroll pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="news_scroll">
                    <div class="breakingNews bn-bordernone bn-red mb-3">
                        <div class="bn-title" style="width: auto;">
                            <h2 style="display: inline-block;">
                                <!-- <i class="bi bi-megaphone pe-2 text-white"></i>  -->
                                <img src="assets/images/notifications.png" alt="image" class="img-fluid">
                                Announcements
                            </h2><span></span>
                        </div>
                        <ul style="left: 208px;">
                            <li>
                                <marquee direction="left" onmouseout="this.start();" onmouseover="this.stop();"
                                    scrollamount="6" class="mymarque">

                                    <a href="assets/images/resources/gosnotifications/RTIH-Corr22052025.pdf" target="_blank">1. <img src="assets/images/new.gif" alt="image" class="img-fluid"> RTIH Corrigendum- The last date for submission of proposals from potential promoters extended till 25.04.2025. Applications submission via email to:- <a href="mailto:ceo-apis@ap.gov.in">ceo-apis@ap.gov.in</a></a>

                                    <a class="ps-3" href="assets/images/resources/gosnotifications/2025ITC_36265_MS6_E.pdf" target="_blank">1. <img src="assets/images/new.gif" alt="image" class="img-fluid"> Applications are invited from potential promoters for Ratan Tata Innovation Hubs and 5 spokes.Applications submission via email to:- <a href="mailto:ceo-apis@ap.gov.in">ceo-apis@ap.gov.in</a></a>

                                    <!-- <a class="ps-3" href="assets/notifications/APIS Recruitment News paper.pdf" target="_blank">2. <img src="assets/images/new.gif" alt="image" class="img-fluid"> APIS invites applications from eligible candidates for engagement in managerial positions on contractual basis-for more details check official notification</a> -->

                                    <a class="ps-3" href="assets/images/resources/policies/2024/2025ITC_35711_MS2_E.pdf" target="_blank">3. ITE&C Department – AP Innovation Society (APIS)– Providing Preferential Market Access (PMA) to DPIIT recognised Startups registered in Andhra Pradesh with the relaxation of norms in Public Procurement that are up to Rs.50.00 Lakh in value – Orders – Issued</a>
                                    <!-- <a class="pe-1" href="https://swarnandhra.ap.gov.in/Suggestions" target="_blank">
                                        Click on link https://swarnandhra.ap.gov.in/Suggestions for submiting
                                        your suggestions/inputs on Swarna Andhra@2047 vision Plan
                                    </a> -->
                                    <!-- <a href="https://ngobox.org/fellowship_full-Applications-Invited-for-Startup-Accelerator-of-MeitY-for-Product-Innovation,-Development,-and-Growth-(SAMRIDH)-Program-MeitY-Startup-Hub_24595" target="_blank"><span class="dot"></span> MeitY Startup Hub is inviting applications for the Startup Accelerator of MeitY for Product Innovation, Development, and Growth (SAMRIDH) Program. The SAMRIDH scheme aims to support existing and upcoming Accelerators to select and accelerate potential IT-based startups to scale. Among others, the program focuses on accelerating the startups by providing customer connect, investors connect and connect to international markets. Last Date: Oct 02, 2024</a> -->
                                </marquee>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pt-3 d-none">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="inner_content">

                    <div class="innerpage_heading mb-3">
                        <h2>Announcements</h2>
                    
                    <ul class="pt-2 ps-3">
                        <li>
                            <a href="http://swarnandhra.ap.gov.in/Suggestions" target="_blank">Click on link https://swarnandhra.ap.gov.in/Suggestions for submiting your suggestions/inputs on Swarna Andhra@2047 vision Plan</a>
                        </li>
                        <li>
                            <a href="https://ngobox.org/fellowship_full-Applications-Invited-for-Startup-Accelerator-of-MeitY-for-Product-Innovation,-Development,-and-Growth-(SAMRIDH)-Program-MeitY-Startup-Hub_24595" target="_blank"><span class="dot"></span> MeitY Startup Hub is inviting applications for the Startup Accelerator of MeitY for Product Innovation, Development, and Growth (SAMRIDH) Program. The SAMRIDH scheme aims to support existing and upcoming Accelerators to select and accelerate potential IT-based startups to scale. Among others, the program focuses on accelerating the startups by providing customer connect, investors connect and connect to international markets. Last Date: Oct 02, 2024</a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- scrolling ends -->


<!-- about us two starts -->

<app-aboutus></app-aboutus>

<!-- about us two ends -->

<!-- about us starts -->


<!-- <app-owlpractice></app-owlpractice> -->

<app-statsslick></app-statsslick>

<app-reasons></app-reasons>
<app-offeringone></app-offeringone>


<!-- <app-owlpractice></app-owlpractice> -->

<!-- stats section ends -->


<!-- swiper section starts -->

<!-- <app-swiper></app-swiper> -->

<!-- swiper section ends -->


<!-- latest updates starts -->

<section class="py-5" style="padding: 5rem 0;background-image:linear-gradient(180deg, #13264A 0%, #0C1C38 100%);position: relative;background-size: cover;
background-position: 50px 0;
z-index: 0;
overflow: hidden">
    <div
        style="padding: 40px 0;background-image: url('assets/images/latestpattern.png');
    background-repeat: no-repeat;
    background-color: #13264A;
transform: matrix(1, 0, 0, -1, 0, 0);
    background-size: cover;background-position: center;position:absolute;opacity: 0.1;top: 0;bottom: 0;right: 0;left: 0;z-index: -1;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="head">
                    <h4>
                        Social Media
                    </h4>
                    <div class="twitter_tweets">
                        <!-- https://twitter.com/AndhraSociety?t=0dnBzDqAHN9LT_Rt1bgQ9w&s=03 -->
                        <!-- <a class="twitter-timeline" data-height="375" data-tweet-limit="6" data-aria-polite="assertive" href="https://twitter.com/APPOLICE100?ref_src=twsrc%5Etfw">Tweets by -->
                            
                            <a class="twitter-timeline" data-height="375" data-tweet-limit="6" data-aria-polite="assertive" href="https://twitter.com/Startup_APIS?t=LM45G3lu_GMa6wywCndM9A&s=09">Tweets by
                                APIS</a>
                                <!-- <a class="twitter-timeline" data-height="375" data-tweet-limit="6" data-aria-polite="assertive" href="https://twitter.com/AndhraPradeshCM?t=S7hDjLtxqIE15r1fnjFeoQ&s=03">Tweets by
                                    APIS</a> -->
                    </div>
                    <!-- <img src="assets/images/feed.png" alt="image" class="img-fluid"> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="head">
                    <h4 [className]="isTranslationTelugu ? 'updateshead' : ''">
                        {{ 'Updates.gallery' | translate }}
                    </h4>
                <div class="cropped_image">
                    <img src="assets/images/totalcropped.png" alt="image" class="img-fluid" style="border-radius: 6px;">
                </div>
                <div class="float-end my-4">
                    <a routerLink="/gallery" class="btn view_all">View All</a>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="head">
                    <h4 [className]="isTranslationTelugu ? 'updateshead' : ''">
                        {{ 'Updates.policies' | translate }}
                    </h4>
                </div>
                <div class="notifications_list">
                    <ul>
                        <li>
                            <!-- <a [className]="isTranslationTelugu ? 'policiestelugu' : ''" href="assets/images/ecosystem/startups/Startup Policy.pdf" target="_blank">
                                {{ 'Updates.startuppolicy' | translate }}
                            </a> -->

                            <a href="Andhra Pradesh Electronics Manufacturing policy (4.0) 2024-29.pdf" target="_blank">
                                <!-- {{ 'Updates.startuppolicy' | translate }} -->
                                ITE&C Department – Promotion Wing – Andhra Pradesh Electronics Manufacturing Policy (4.0) 2024-29
                            </a>
                        </li>
                        <li>
                            <!-- <a [className]="isTranslationTelugu ? 'policiestelugu' : ''" href="assets/images/resources/policies/APIndustrial_Policy_Brochure.pdf" target="_blank">
                                {{ 'Updates.industrialdevelopmentpolicy' | translate }}
                            </a> -->
                            <a href="assets/images/resources/policies/2024/AP Industrial Development Policy (4.0) 2024-29.pdf" target="_blank">
                                Industries & Commerce Department – New Andhra Pradesh Industrial Development Policy (4.0) 2024-29
                            </a>
                        </li>
                        <li>
                            <!-- <a [className]="isTranslationTelugu ? 'policiestelugu' : ''" href="assets/images/resources/policies/Compendium_of_MSME_Schemes.pdf" target="_blank">
                                {{ 'Updates.msmepolicy' | translate }}
                            </a> -->
                            <a href="assets/images/resources/policies/2024/AP MSME & EDP (4.0) - 2024-29.pdf" target="_blank">
                                Industries & Commerce Department – Andhra Pradesh MSME & Entrepreneur Development Policy, 4.0 (2024-29) / One Entrepreneur, One Family by 2030
                            </a>
                        </li>
                        <li class="d-none">
                            <!-- <a [className]="isTranslationTelugu ? 'policiestelugu' : ''" href="assets/images/resources/policies/IDP.pdf" target="_blank">
                                {{ 'Updates.industriescommercepolicy' | translate }}
                            </a> -->
                            <a href="assets/images/resources/policies/2024/AP Retail Park Policy 2021-2026.pdf" target="_blank">
                                Industries & Commerce Department – “Andhra Pradesh Retail Parks Policy" 2021-26
                            </a>
                        </li>
                        <!-- <li>
                            <a [className]="isTranslationTelugu ? 'policiestelugu' : ''" href="assets/images/resources/policies/Jagaanna_YSR_Badugu_Vikasam.pdf" target="_blank">
                                {{ 'Updates.ysrbaduguvikasampolicy' | translate }}
                            </a>
                        </li> -->
                    </ul>
                    <div class="float-end my-4">
                        <a routerLink="/policies" class="btn view_all">View All</a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 d-none">
                <div class="row">
                    <div class="col-md-6">
                        <app-gallery></app-gallery>
                    </div>
                    <div class="col-md-6">
                        <app-video></app-video>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15304.31690102874!2d80.6158397!3d16.4715256!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xce158d97a25509bf!2sAndhra%20Pradesh%20Innovation%20Society!5e0!3m2!1sen!2sin!4v1672084489355!5m2!1sen!2sin"
                                width="100%" height="190px" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-none">
                <div class="head">
                    <h4>
                        Notifications
                    </h4>
                </div>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">Notifications</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Events</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                        tabindex="0">
                        <div class="latestNews">
                            <!-- <marquee height="auto" width="100%" onmouseover="this.stop();" onmouseout="this.start();"> -->
                            <ul style="list-style: none;" class="listUl">
                                <li style="display: flex;word-break: break-all;"><i
                                        class="fa fa-arrow-circle-right"></i>
                                    <div class="mr-2 text-white" style="min-width: 56px;max-width: 56px;
                                background: #009BC9;
                                border-radius: 5px;
                                text-align: center;
                                height: fit-content;">
                                        Dec 19
                                        <hr class="m-0" style="background-color: #fff;color: #fff;">
                                        2022
                                    </div> <a href="">Fintech Innovation Challenge</a>
                                </li>
                                <li style="display: flex;word-break: break-all;"><i
                                        class="fa fa-arrow-circle-right"></i>
                                    <div class="mr-2" style="min-width: 56px;max-width: 56px;
                                background: #009BC9;
                                border-radius: 5px;
                                text-align: center;
                                height: fit-content;">
                                        Dec 19
                                        <hr class="m-0" style="background-color: #fff;">
                                        2022
                                    </div> <a href="">Fintech Innovation Challenge</a>
                                </li>
                                <li style="display: flex;word-break: break-all;"><i
                                        class="fa fa-arrow-circle-right"></i>
                                    <div class="mr-2" style="min-width: 56px;max-width: 56px;
                                background: #009BC9;
                                border-radius: 5px;
                                text-align: center;
                                height: fit-content;">
                                        Dec 19
                                        <hr class="m-0" style="background-color: #fff;">
                                        2022
                                    </div> <a href="">Fintech Innovation Challenge</a>
                                </li>
                                <li style="display: flex;word-break: break-all;"><i
                                        class="fa fa-arrow-circle-right"></i>
                                    <div class="mr-2" style="min-width: 56px;max-width: 56px;
                                background: #009BC9;
                                border-radius: 5px;
                                text-align: center;
                                height: fit-content;">
                                        Dec 19
                                        <hr class="m-0" style="background-color: #fff;">
                                        2022
                                    </div> <a href="">Fintech Innovation Challenge</a>
                                </li>
                                <li style="display: flex;word-break: break-all;"><i
                                        class="fa fa-arrow-circle-right"></i>
                                    <div class="mr-2" style="min-width: 56px;max-width: 56px;
                                background: #009BC9;
                                border-radius: 5px;
                                text-align: center;
                                height: fit-content;">
                                        Dec 19
                                        <hr class="m-0" style="background-color: #fff;">
                                        2022
                                    </div> <a href="">Fintech Innovation Challenge</a>
                                </li>
                            </ul>
                            <!-- </marquee> -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                        tabindex="0">
                        <div class="latestNews">
                            <!-- <marquee height="200" width="100%" behavior="scroll" direction="up" scrollamount="2"
                                onmouseover="this.stop();" onmouseout="this.start();"> -->
                            <ul style="list-style: none;" class="listUl">
                                <li style="display: flex;word-break: break-all;"><i
                                        class="fa fa-arrow-circle-right"></i>
                                    <div class="mr-2 text-white" style="min-width: 56px;max-width: 56px;
                                background: #009BC9;
                                border-radius: 5px;
                                text-align: center;
                                height: fit-content;">
                                        Dec 19
                                        <hr class="m-0" style="background-color: #fff;color: #fff;">
                                        2022
                                    </div> <a href="">Fintech Innovation Challenge</a>
                                </li>
                                <li style="display: flex;word-break: break-all;"><i
                                        class="fa fa-arrow-circle-right"></i>
                                    <div class="mr-2" style="min-width: 56px;max-width: 56px;
                                background: #009BC9;
                                border-radius: 5px;
                                text-align: center;
                                height: fit-content;">
                                        Dec 19
                                        <hr class="m-0" style="background-color: #fff;">
                                        2022
                                    </div> <a href="">Fintech Innovation Challenge</a>
                                </li>
                                <li style="display: flex;word-break: break-all;"><i
                                        class="fa fa-arrow-circle-right"></i>
                                    <div class="mr-2" style="min-width: 56px;max-width: 56px;
                                background: #009BC9;
                                border-radius: 5px;
                                text-align: center;
                                height: fit-content;">
                                        Dec 19
                                        <hr class="m-0" style="background-color: #fff;">
                                        2022
                                    </div> <a href="">Fintech Innovation Challenge</a>
                                </li>
                                <li style="display: flex;word-break: break-all;"><i
                                        class="fa fa-arrow-circle-right"></i>
                                    <div class="mr-2" style="min-width: 56px;max-width: 56px;
                                background: #009BC9;
                                border-radius: 5px;
                                text-align: center;
                                height: fit-content;">
                                        Dec 19
                                        <hr class="m-0" style="background-color: #fff;">
                                        2022
                                    </div> <a href="">Fintech Innovation Challenge</a>
                                </li>
                                <li style="display: flex;word-break: break-all;"><i
                                        class="fa fa-arrow-circle-right"></i>
                                    <div class="mr-2" style="min-width: 56px;max-width: 56px;
                                background: #009BC9;
                                border-radius: 5px;
                                text-align: center;
                                height: fit-content;">
                                        Dec 19
                                        <hr class="m-0" style="background-color: #fff;">
                                        2022
                                    </div> <a href="">Fintech Innovation Challenge</a>
                                </li>
                            </ul>
                            <!-- </marquee> -->
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>

<app-ecosystem></app-ecosystem>
<!-- latest updates ends -->
