<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="user_profile py-3">
                    <img src="assets/images/user/user-profile.png" alt="user profile" class="img-fluid">
                </div>
                <div class="change_photo">
                    <a href="" class="btn btn-success btn-md">Change Photo</a>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <hr>
    </div>
    <div class="container">
        <form action="">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" value="Manasa R" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" value="manasar@e-pragati.in" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">User Type</label>
                        <input type="text" class="form-control" value="Startup" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Mobile No.</label>
                        <input type="text" class="form-control" value="8211937895">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">State</label>
                        <input type="text" class="form-control" value="Andhra Pradesh" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">State</label>
                        <input type="text" class="form-control" value="Vijayawada" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Company Name</label>
                        <input type="text" class="form-control" value="Startup Technologies" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Nature of Entity</label>
                        <input type="text" class="form-control" value="Private Limited Company" disabled>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="float-end">
                        <button type="submit" class="btn btn-success">Update</button>
                        <button type="submit" class="btn btn-danger ms-2">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>