<style>
    .bodyBreadcrumbs {
    background-image: url('assets/images/ecosystem/ecosystembg.png');
}
</style>
<section class="bodyBreadcrumbs">

    <div class="container">

        <div class="row breadcrumbsrow align-items-center">
            <div class="col-md-12">
                <div class="bodyHeading text-white">
                    <h1>Intellectual Property (IP)
                    </h1>
                    <ol class="breadcrumb mb-0">
                        <li><a routerLink="/home">Home</a></li>
                        <li><a>Ecosystem</a></li>
                        <li><a>Institutional Support</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_content">
                    <div class="innerpage_heading">
                        <p>
                            When starting a business, there are many factors to consider, ranging from branding and
                            targeting markets to financial growth. However, Intellectual Property (IP) protection is one
                            of the crucial parts of the market challenges. IP for any company, especially a startup, is
                            an intangible asset. IP can be a Unique Selling Proposition (USP) of the product or service
                            in today’s competitive and dynamic world as it allows innovators to control the destiny of
                            their innovations. It helps to protect against imitators and enable companies to create a
                            distinctive identity to strengthen their market presence.
                        </p>
                        <p>
                            The startup’s foremost IP consists of trademarks, patents, designs and copyrights. Startups
                            usually seek protection for their inventions, logos, business names, designs and software.
                            Moreover, by creating a high entry barrier, it helps startups to grow faster with respect to
                            its competitors. Since it creates good value for the venture, IP faces higher priority and
                            hence, makes IP protection important for startups.
                        </p>
                        <p>
                            In order to provide the ease of Intellectual Property (IP) protection support for the
                            startups in Andhra Pradesh AP Innovation has earmarked space at Vishakhapatnam for
                            establishing <strong>Intellectual Property Facilitation Centre (IPFC) & Technology
                                Innovation
                                Support Centre (TISC)</strong> through <strong>NRDC (National Research Development
                                Corporation)</strong>.
                        </p>
                        <p>
                            NRDC as a facilitator is providing the following support to the Startups in Andhra Pradesh:-
                        </p>
                        <ul>
                            <li>
                                Providing general advisory on different intellectual property on pro bono basis
                            </li>
                            <li>
                                Providing information on protecting and promoting IPRs to startups in other countries on
                                pro bono basis
                            </li>
                            <li>
                                Providing assistance in filing and disposal of the IP applications related to patents,
                                trademarks and Design under relevant Acts at the national IP offices under the CGPDTM
                            </li>
                            <li>
                                Drafting provisional and complete patent specifications for inventions of start-ups
                            </li>
                            <li>
                                Preparing and filing responses to examination reports and other queries, notices or
                                letters by the IP office
                            </li>
                            <li>
                                Appearing on behalf of start-up at hearings, as may be scheduled
                            </li>
                            <li>
                                Contesting opposition, if any, by other parties
                            </li>
                            <li>
                                Ensuring final disposal of the IPR application
                            </li>
                        </ul>
                        <h2>
                            For more information please contact:
                        </h2>
                    </div>
                    <div class="img_logo hstack gap-2">
                        <div class="address">
                            <p>
                                1st Floor, Innovation Valley, Rushikonda
                                Visakhapatnam, AP, INDIA
                            </p>
                            <p>
                                <strong>E-mail</strong>: bksahu@nrdc.in
                            </p>
                            <p>
                                <strong>Website</strong>: <a href="http://www.nrdcindia.com/OutreachCenter/5" target="_blank">http://www.nrdcindia.com/OutreachCenter/5</a>
                            </p>
                        </div>
                        <div class="logo">
                            <img src="assets/images/ecosystem/institutionalsupport/intellectualproperty/wipo_img.png" alt="image"
                            class="img-fluid" style="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>