<style>
    .bodyBreadcrumbs {
    background-image: url('assets/images/ecosystem/ecosystembg.png');
}
</style>
<section class="bodyBreadcrumbs">

    <div class="container">

        <div class="row breadcrumbsrow align-items-center">
            <div class="col-md-12">
                <div class="bodyHeading text-white">
                    <h1>Mentorship Process</h1>
                    <ol class="breadcrumb mb-0">
                        <li><a routerLink="/home">Home</a></li>
                        <!-- <li><a style="color: #14e18c;">About AP</a></li> -->
                        <li><a>Ecosystem</a></li>
                        <li><a>Mentors</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_content">
                    <div class="innerpage_heading mx-auto" style="max-width: 75%;">
                        <h2 class="text-center mb-4">
                            Mentors work as a kind of fuel for entrepreneurs by sharing their
                            knowledge and contacts harvested through their years of experience
                        </h2>
                    </div>
                    <div class="inner_content">
                        <p>
                            Entrepreneurs begin their startup dreams with a great vision for creating a difference and
                            impact in their thrust areas however the statistics state that 90% of Indian
                            startups don't surpass the five-year threshold of which around 20% of them sink during the
                            first two years of their journey. One of the identified reasons for the failures
                            of these entrepreneurs is inexperience when they start a business. The only way to overcome
                            inexperience quickly and hack their learning curve is through
                            mentoring support.
                        </p>
                        <p>
                            In the journey of Startups, mentors play a vital role in the success of their business
                            having understood this AP Innovation Society (APIS) is helping the startups incubated
                            with us by connecting and mentoring them with the right mentors who could assist and advise
                            the startups in getting the right support and guidance toward the
                            epitome of success.
                        </p>
                    </div>
                </div>
                <div class="inner_content">
                    <div class="innerpage_heading">
                        <h2 class="my-2">
                            Procedure for on-boarding Mentors
                        </h2>
                        <p>
                            The AP Innovation Society recognizes individuals registered with Department for Promotion of Industry and Internal Trade (DPIIT) as Mentors in the state to support and guide startups to grow their business. The framework to onboard mentors and registration of mentor is available at <a href="https://maarg.startupindia.gov.in" target="_blank">https://maarg.startupindia.gov.in/ </a>
                        </p>
                    </div>
                </div>
                <div class="inner_content mb-5">
                    <div class="innerpage_heading">
                        <h2 class="mb-5">
                            Are you a Startup looking for Mentorship Support
                        </h2>
                        <div class="process_image text-center">
                            <img src="assets/images/mentorprocess.png" alt="image" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="inner_content">
                    <div class="innerpage_heading">
                        <h2 class="my-3">
                            Mentorship Process
                        </h2>
                        <div class="mentorshipprocessUl">
                            <ul>
                                <li>
                                    After Successful registration, the Startup can click on the” Connect with Mentor”
                                    tab on the portal.
                                </li>
                                <li>
                                    You can select any mentor either from the pool of mentors available in our portal.
                                </li>
                                <li>
                                    After submitting the connection request, the mentor shall evaluate your application.
                                </li>
                                <li>
                                    A Startup may connect with multiple mentors depending on the availability of the
                                    Mentors.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="inner_content">
                    <div class="innerpage_heading">
                        <h2 class="my-3">
                            What could we offer
                        </h2>
                        <p>
                            Apart from helping the Startups in Andhra Pradesh progress and move forward, as a mentor,
                            you will have the opportunity to
                        </p>
                        <div class="mentorshipprocessUl">
                            <ul>
                                <li>
                                    Be Recognized as a Startup Andhra Pradesh Mentor
                                </li>
                                <li>
                                    Share your wisdom and experiences
                                </li>
                                <li>
                                    Evolve your own thinking
                                </li>
                                <li>
                                    Develop a new relationship
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>