<style>
    .bodyBreadcrumbs {
    background-image: url('assets/images/contactus/contactusbg.png');
}
</style>
<section class="bodyBreadcrumbs">

    <div class="container">

        <div class="row breadcrumbsrow align-items-center">
            <div class="col-md-12">
                <div class="bodyHeading text-white">
                    <h1>Contact Us
                    </h1>
                    <ol class="breadcrumb mb-0">
                        <li><a routerLink="/home">Home</a></li>
                        <!-- <li><a style="color: #14e18c;">About AP</a></li> -->
                        <li><a>Contact Us</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 address_section d-none">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="main_box">
                    <h4>
                        Vijayawada
                    </h4>
                    <div class="double-line-bottom-theme-colored-2"></div>
                    <p>
                        Pothuri Mercantile, 4th Floor,
                        Beside Morning Star Travels,
                        Tadepalli, Guntur Dst, - 522501.
                    </p>
                    <div class="hstack gap-3">
                        <div class="phone_icon">
                            <i class="bi bi-telephone"></i>
                        </div>
                        <div class="number">
                            <h6>
                                +91 1234567890
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="main_box">
                    <h4>
                        Vishakapatnam
                    </h4>
                    <div class="double-line-bottom-theme-colored-2"></div>
                    <p>
                        Pothuri Mercantile, 4th Floor,
                        Beside Morning Star Travels,
                        Tadepalli, Guntur Dst, - 522501.
                    </p>
                    <div class="hstack gap-3">
                        <div class="phone_icon">
                            <i class="bi bi-telephone"></i>
                        </div>
                        <div class="number">
                            <h6>
                                +91 1234567890
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="main_box">
                    <h4>
                        Kakinada
                    </h4>
                    <div class="double-line-bottom-theme-colored-2"></div>
                    <p>
                        Pothuri Mercantile, 4th Floor,
                        Beside Morning Star Travels,
                        Tadepalli, Guntur Dst, - 522501.
                    </p>
                    <div class="hstack gap-3">
                        <div class="phone_icon">
                            <i class="bi bi-telephone"></i>
                        </div>
                        <div class="number">
                            <h6>
                                +91 1234567890
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="main_box">
                    <h4>
                        Tirupathi
                    </h4>
                    <div class="double-line-bottom-theme-colored-2"></div>
                    <p>
                        Pothuri Mercantile, 4th Floor,
                        Beside Morning Star Travels,
                        Tadepalli, Guntur Dst, - 522501.
                    </p>
                    <div class="hstack gap-3">
                        <div class="phone_icon">
                            <i class="bi bi-telephone"></i>
                        </div>
                        <div class="number">
                            <h6>
                                +91 1234567890
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-none">
            <div class="col-md-5">
                <div class="main_box">
                    <div class="location">
                        <div class="table-responsive">
                            <table class="w-100">
                                <tbody>
                                    <tr>
                                        <td>Address</td>
                                        <td>:</td>
                                        <td>Pothuri Mercantile, 4th Floor,
                                            Beside Morning Star Travels,
                                            Tadepalli, Guntur Dst, - 522501.</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>:</td>
                                        <td>Mahesh</td>
                                    </tr>
                                    <tr>
                                        <td>Designation</td>
                                        <td>:</td>
                                        <td>Manager</td>
                                    </tr>
                                    <tr>
                                        <td>Mobile</td>
                                        <td>:</td>
                                        <td>8764687547</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>:</td>
                                        <td>mahesh@ap.gov.in</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="assets/images/contactus/vizag.png">
                    <div class="info">
                        <div class="card_title text-left pt-0">
                            <h2>Visakhapatnam</h2>
                            <div class="double-line-bottom-theme-colored-2"></div>
                            <!-- <hr class="m-0"> -->
                        </div>
                        <div class="card_content main_box">
                            <p>
                                Startup Incubation Hub,
                                Hill- 3, IT SEZ,
                                Madhurawada, Visakhapatnam,
                                Andhra Pradesh - 530048
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="assets/images/contactus/vijayawada.png">
                    <div class="info">
                        <div class="card_title text-left pt-0">
                            <h2>Vijayawada</h2>
                            <div class="double-line-bottom-theme-colored-2"></div>
                            <!-- <hr class="m-0"> -->
                        </div>
                        <div class="card_content main_box">
                            <p>
                                Pothuri Mercantile, 4th Floor,
                                Beside Morning Star Travels,
                                Tadepalli, Guntur District, - 522501.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="assets/images/contactus/kakinada.png">
                    <div class="info">
                        <div class="card_title text-left pt-0">
                            <h2>Kakinada</h2>
                            <div class="double-line-bottom-theme-colored-2"></div>
                            <!-- <hr class="m-0"> -->
                        </div>
                        <div class="card_content main_box">
                            <p>
                                Startup Incubation Hub, Auto Nagar, Behind CYIENT,
                                Kakinada, Andhra Pradesh - 533005                               
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="assets/images/contactus/tirupati.png">
                    <div class="info">
                        <div class="card_title text-left pt-0">
                            <h2>Tirupati</h2>
                            <div class="double-line-bottom-theme-colored-2"></div>
                            <!-- <hr class="m-0"> -->
                        </div>
                        <div class="card_content main_box">
                            <p>
                                Startup Incubation Hub, Tirupati Airport Rd,
                                Near Celkon Company,
                                Renigunta, 
                               Andhra Pradesh - 517520                               
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>