<section class="innovation_challenges text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="challengesDiv">
                    <img src="assets/images/user/challenges/logistics.png" alt="image" class="img-fluid">
                    <div class="title">
                        <h5>Logistics Innovation Challenge</h5>
                    </div>
                    <div class="action_buttons">
                        <a href="" class="btn view m-1">View</a>
                        <a href="" class="btn apply ms-1">Apply</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="challengesDiv">
                    <img src="assets/images/user/challenges/bigdata.png" alt="image" class="img-fluid">
                    <div class="title">
                        <h5>Big Data Hackathon</h5>
                    </div>
                    <div class="action_buttons">
                        <a href="" class="btn view m-1">View</a>
                        <a href="" class="btn apply ms-1">Apply</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="challengesDiv">
                    <img src="assets/images/user/challenges/opendata.png" alt="image" class="img-fluid">
                    <div class="title">
                        <h5>Open Data Hackathon</h5>
                    </div>
                    <div class="action_buttons">
                        <a href="" class="btn view m-1">View</a>
                        <a href="" class="btn apply ms-1">Apply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>