<style>
    .bodyBreadcrumbs {
    background-image: url('assets/images/contactus/contactusbg.png');
}
</style>
<section class="bodyBreadcrumbs">

    <div class="container">

        <div class="row breadcrumbsrow align-items-center">
            <div class="col-md-12">
                <div class="bodyHeading text-white">
                    <h1>Career Details
                    </h1>
                    <ol class="breadcrumb mb-0">
                        <li><a routerLink="/home">Home</a></li>
                        <!-- <li><a style="color: #14e18c;">About AP</a></li> -->
                        <li><a>Career Details</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-sm btn-primary" routerLink="/careers">Back to Careers</a>
                <a class="btn btn-success btn-sm" routerLink="/applycareers">Apply</a>
            </div>
            <div class="col-md-12">
                    Notification Id : {{notiticationId}}
            </div>
        </div>
    </div>
</section>