<style>
    .bodyBreadcrumbs {
    background-image: url('assets/images/ecosystem/ecosystembg.png');
}
</style>
<section class="bodyBreadcrumbs">

    <div class="container">

        <div class="row breadcrumbsrow align-items-center">
            <div class="col-md-12">
                <div class="bodyHeading text-white">
                    <h1>Women-led Startups
                    </h1>
                    <ol class="breadcrumb mb-0">
                        <li><a routerLink="/home">Home</a></li>
                        <li><a>Ecosystem</a></li>
                        <li><a>Institutional Support</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner_content">
                    <div class="innerpage_heading">
                        <p>
                            With a vision to promote the sustainable development of women entrepreneurs by providing a
                            platform for supporting the budding and women entrepreneurs in the State the Government has
                            laid special emphasis for women-led startups and fem-tech startups.
                        </p>
                        <p>
                            With a vision to promote the sustainable development of women entrepreneurs by providing a
                            platform for supporting the budding and women entrepreneurs in the State the Government has
                            laid special emphasis for women-led startups and fem-tech startups.
                        </p>
                        <ul>
                            <li>
                                Exclusive Incubation/Co-working space
                            </li>
                            <li>
                                Mentorship Support
                            </li>
                            <li>
                                Training Programs
                            </li>
                            <li>
                                Sector Exposure
                            </li>
                            <li>
                                Access to Network
                            </li>
                            <li>
                                Piloting & Procurement Support
                            </li>
                            <li>
                                Market Access
                            </li>
                            <li>
                                Incentives
                            </li>
                        </ul>
                        <!-- <h2>
                            The details of the Women Lead Startups are as follows: -
                        </h2> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>