
<swiper [config]="config" #usefulSwiper>

  <div class="swiper-wrapper">

    <div class="swiper-slide">
      <img src="assets/images/newbanner.png" alt="image" class="img-fluid w-100">
      <div class="first_banner" data-aos="fade-right" data-aos-duration="1500" data-aos-easing="linear">
        <h2>
          Entrepreneurs,
          </h2>
          <h2>
            It’s time to unlock &
          </h2>
          <h2>
            Build your Startup's Identity
          </h2>
          <h2>
            In Andhra Pradesh
          </h2>
          <a href="" class="btn btn_bannerone_register">Register with Startup Andhra Pradesh  </a>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="assets/images/newbanner.png" alt="image" class="img-fluid w-100">
      <div class="first_banner" data-aos="fade-right" data-aos-duration="1500" data-aos-easing="linear">
        <h2>
          Entrepreneurs,
          </h2>
          <h2>
            It’s time to unlock &
          </h2>
          <h2>
            Build your Startup's Identity
          </h2>
          <h2>
            In Andhra Pradesh
          </h2>
          <a href="" class="btn btn_bannerone_register">Register with Startup Andhra Pradesh  </a>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="assets/images/newbanner.png" alt="image" class="img-fluid w-100">
      <div class="first_banner" data-aos="fade-right" data-aos-duration="1500" data-aos-easing="linear">
        <h2>
          Entrepreneurs,
          </h2>
          <h2>
            It’s time to unlock &
          </h2>
          <h2>
            Build your Startup's Identity
          </h2>
          <h2>
            In Andhra Pradesh
          </h2>
          <a href="" class="btn btn_bannerone_register">Register with Startup Andhra Pradesh  </a>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="assets/images/newbanner.png" alt="image" class="img-fluid w-100">
      <div class="first_banner" data-aos="fade-right" data-aos-duration="1500" data-aos-easing="linear">
        <h2>
          Entrepreneurs,
          </h2>
          <h2>
            It’s time to unlock &
          </h2>
          <h2>
            Build your Startup's Identity
          </h2>
          <h2>
            In Andhra Pradesh
          </h2>
          <a href="" class="btn btn_bannerone_register">Register with Startup Andhra Pradesh  </a>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="assets/images/newbanner.png" alt="image" class="img-fluid w-100">
      <div class="first_banner" data-aos="fade-right" data-aos-duration="1500" data-aos-easing="linear">
        <h2>
          Entrepreneurs,
          </h2>
          <h2>
            It’s time to unlock &
          </h2>
          <h2>
            Build your Startup's Identity
          </h2>
          <h2>
            In Andhra Pradesh
          </h2>
          <a href="" class="btn btn_bannerone_register">Register with Startup Andhra Pradesh  </a>
      </div>
    </div>
  </div>

  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>

  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

</swiper>