.section_title h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #193567;

}

.img_box {
    /* border: 1px solid #ccc; */
    /* margin: auto; */
    /* height: 83px; */
}


.section_title h2::before {
    content: "";
    width: 50px;
    height: 2px;
    display: inline-block;
    background: #DE354C;
    margin: 4px 10px;
    top: -6px;
    position: relative;
}