<section class="py-5">
    <div class="container">
        <div class="section_title pb-4">
            <h2>
                Our Ecosystem
            </h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div class="img_box">
                            <img src="assets/images/ecosystem/1.png" alt="" class="img-fluid">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="img_box">
                            <img src="assets/images/ecosystem/2.png" alt="" class="img-fluid">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="img_box">
                            <img src="assets/images/ecosystem/3.png" alt="" class="img-fluid">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="img_box">
                            <img src="assets/images/ecosystem/4.png" alt="" class="img-fluid">
                        </div>
                    </ng-template>
                
                    <ng-template carouselSlide>
                        <div class="img_box">
                            <img src="assets/images/ecosystem/5.png" alt="" class="img-fluid">
                        </div>
                    </ng-template>
                
                    <ng-template carouselSlide>
                        <div class="img_box">
                            <img src="assets/images/ecosystem/6.png" alt="" class="img-fluid">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="img_box">
                            <img src="assets/images/ecosystem/7.png" alt="" class="img-fluid">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="img_box">
                            <img src="assets/images/ecosystem/8.png" alt="" class="img-fluid">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="img_box">
                            <img src="assets/images/ecosystem/9.png" alt="" class="img-fluid">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="img_box">
                            <img src="assets/images/ecosystem/10.png" alt="" class="img-fluid">
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="img_box">
                            <img src="assets/images/ecosystem/11.png" alt="" class="img-fluid">
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>